<div class="pull-left w600">

    <p ng-click="reloadProds()" style="cursor: pointer"><strong> Results </strong> for {{c.address1}}, {{c.city}} {{c.state}} {{c.zip}}</p>

    <div class="row gradient-container">
        <div class="gradient-item clearfix">
            <div class="col-xs-4" style="padding-top:10px;">{{emailPrompt}}</div>
            <div class="col-xs-5"><input type="text" class="form-control mb0" placeholder="enter email address" ng-model="c.email" ng-hide="emailed"></div>
            <div class="col-xs-3"><button class="btn btn-style1 uppercase" ng-click="emailList()" ng-hide="emailed">Submit</button></div>
        </div>
    </div>

    <div class="row gradient-container" ng-repeat="p in products">
        <div class="box-1 gradient-item clearfix">
            <div class="col-xs-3"><div><span><img ng-src="{{topUrl}}{{p.brandimgUrl}}" width="88" height="31"></span></div></div>
            <div class="col-xs-6"  ng-style="{zoom: !p.point && '100%' || '150%'}">
                <h3 class="fld" data-content="product.title">{{p.title}}</h3>
                <ul class="bullet-1 deals-list-item">
                    <li ng-repeat="h in p.highlights">{{h}}</li>
                </ul>
                <div><i class="icon-angle-right"></i> &nbsp; <a ng-click="showDetail(p)" class="deals-list-item">{{p.lblDetails}}</a></div>
              </div><!-- .col -->
            <div class="col-xs-3">
                <div class="price text-center"  ng-style="{zoom: !p.point && '100%' || '150%'}"><strong>${{p.priceNow}}</strong>/mo</div>
                <div class="clearer h10">&nbsp;</div>
                <a ng-click="addToCartandNext(p)" class="btn btn-primary btn-block uppercase">Select</a>
                <div class="clearer h10">&nbsp;</div>
                <a ng-click="reveal(p)" class="btn btn-primary btn-block uppercase">{{ p.visible && 'Hide' || 'Show' }}</a>
                <div class="clearer h10">&nbsp;</div>
                <a ng-click="highlight(p)" class="btn btn-primary btn-block uppercase">Point out</a>
            </div><!-- .col -->
        </div><!-- /box-1 -->
        <div class="pull-left w600" ng-show="p.openDetail">

            <div class="clearer h20">&nbsp;</div>

            <div class="row gradient-container">
                <div class="box-1 gradient-item clearfix">
                    <div class="col-xs-8">
                        <p class="deals-list-item">{{p.promoText}}</p>
                        <ul class="bullet-1 deals-list-item">
                            <li ng-repeat="f in p.features">{{f}}</li>
                        </ul>
                    </div><!-- .col -->
                </div><!-- /box-1 -->
            </div><!-- /row -->



            <table class="table table-bordered table-hover fontsize12">
                <thead>
                <tr>
                    <th class="text-center">DOWNLOAD SPEEDS UP TO</th>
                    <th class="text-center">UPLOAD SPEEDS UP TO</th>
                    <th class="text-center">EXTRAS</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center">{{p.speedDown}} Mbps</td>
                    <td class="text-center">{{p.speedUp}} Mbps</td>
                    <td class="text-center">{{p.extras}}</td>
                </tr>
                </tbody>
            </table>
        </div><!-- /left content -->

    </div><!-- /row -->
</div>