<div class="modal-body">
    <p style="margin-bottom:20px;">In order for us to deliver options that are available for your specific location, we need the address you are moving to.</p>

    <div class="row">
        <div class="col-xs-5"><input type="text" class="form-control" placeholder="Street Address" ng-model="c.address1" style="width: 100%"></div>
        <div class="col-xs-3"><input type="text" class="form-control" placeholder="Apt #" style="width: 100%"></div>
        <div class="col-xs-4"><input type="text" class="form-control" placeholder="ZIP Code" ng-model="c.zip" style="width: 100%"></div>
        <div class="clearer h20">&nbsp;</div>
        <div class="col-xs-5"><input type="text" class="form-control datepicker" placeholder="Move Date" ng-model="c.moveDate" style="width: 100%"></div>
        <div class="col-xs-2 text-center"><div style="display:block; padding-top:10px;"><strong>OR</strong></div></div>
        <div class="col-xs-5"><select class="form-control">
            <option value="Move Timeframe" selected="">Move Timeframe</option>
            <option value="Already moved">Already moved</option>
            <option value="Within 2 weeks">Within 2 weeks</option>
            <option value="2-4 weeks">2-4 weeks</option>
            <option value="1-3 months">1-3 months</option>
            <option value="4-6 months">4-6 months</option>
            <option value="Beyond 6 months">Beyond 6 months</option>
        </select></div>
    </div><!-- /row -->
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-style1 uppercase" data-dismiss="modal" ng-click="next()">{{step.prompt}}</button>
</div>