<!--<section class="main-content">-->
<!--<div class="container">-->
<!--<div class="container-content clearfix">-->

<!--<div class="clearer h20">&nbsp;</div>-->

<h2>Installation</h2>

<div class="box-8">
    <div class="box-8-inner clearfix">
        <div class="row">
            <div class="col-lg-8 col-sm-6">
                <div class="box-6">
                    <div class="box-6-inner clearfix">
                        <h4 class="style4 bg1">Installation Details</h4>

                        <div class="row mlr0">
                            <div class="col-xs-6">
                                <label style="width: 100%">Installation Date  &nbsp; <a data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="icon-info-sign color2"></i></a> </label>
                                <select class="form-control">
                                    <option value="Select Date" selected="">Select Date</option>
                                    <option value="Thurs, Oct 3">Thurs, Oct 3</option>
                                    <option value="Fri, Oct 4">Fri, Oct 4</option>
                                    <option value="Mon, Oct 7">Mon, Oct 7</option>
                                    <option value="Tue, Oct 8">Tue, Oct 8</option>
                                    <option value="Wed, Oct 9">Wed, Oct 9</option>
                                    <option value="Thurs, Oct 10">Thurs, Oct 10</option>
                                    <option value="Fri, Oct 11">Fri, Oct 11</option>
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <label>&nbsp;</label>
                                <select data-label="Available Times" class="form-control">
                                    <option value="9AM - 11AM">9AM - 11AM</option>
                                    <option value="11AM - 1PM">11AM - 1PM</option>
                                    <option value="1PM - 3PM">1PM - 3PM</option>
                                    <option value="Select Time" selected="">Select Time</option>
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <label style="width: 100%">Received Landlord/Property Management approval</label>
                                <div class="clearer">&nbsp;</div>
                                <div class="radio-inline" style="padding-left: 20px">
                                    <label style="width: 100%">
                                        <input type="radio" style="padding-left: 20px">
                                        Yes
                                    </label>
                                </div>
                                <div class="radio-inline" style="padding-left: 20px">
                                    <label style="width: 100%">
                                        <input type="radio" style="padding-left: 20px">
                                        No
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label style="width: 100%">Is there specific access to any particular room to run cabling?   &nbsp; <a data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="icon-info-sign color2"></i></a> </label>
                                <div class="clearer">&nbsp;</div>
                                <div class="radio-inline" style="padding-left: 20px">
                                    <label style="width: 100%">
                                        <input type="radio" style="padding-left: 20px">
                                        Yes
                                    </label>
                                </div>
                                <div class="radio-inline" style="padding-left: 20px">
                                    <label style="width: 100%">
                                        <input type="radio" style="padding-left: 20px">
                                        No
                                    </label>
                                </div>
                            </div>

                            <div class="clearer h10">&nbsp;</div>

                            <div class="col-xs-6">
                                <label style="width: 100%">Contact Number for Tech</label>
                                <input type="text" class="form-control" style="width: 100%">
                            </div>
                            <div class="col-xs-6">
                                <label style="width: 100%">Alternate Number</label>
                                <input type="text" class="form-control" style="width: 100%">
                            </div>

                            <div class="col-xs-6">
                                <label style="width: 100%">Security access required &nbsp; <a data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="icon-info-sign color2"></i></a> </label>
                                <div class="clearer">&nbsp;</div>
                                <div class="radio-inline" style="padding-left: 20px">
                                    <label>
                                        <input type="radio" style="padding-left: 20px">
                                        Yes
                                    </label>
                                </div>
                                <div class="radio-inline" style="padding-left: 20px">
                                    <label>
                                        <input type="radio" style="padding-left: 20px">
                                        No
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label style="width: 100%">Gate codes, if applicable &nbsp; <a data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="icon-info-sign color2"></i></a> </label>
                                <input type="text" class="form-control" style="width: 100%">
                            </div>

                            <div class="clearer">&nbsp;</div>

                            <div class="col-xs-6">
                                <label style="width: 100%">Closest cross streets to the location</label>
                                <input type="text" class="form-control" style="width: 100%">
                            </div>

                            <div class="clearer">&nbsp;</div>


                            <div class="col-xs-12">
                                <label style="width: 100%">Special Instructions</label>
                                <textarea class="form-control" rows="4"></textarea>
                            </div>
                        </div><!-- /row -->




                        <div class="clearer h20">&nbsp;</div>


                        <div class="row">
                            <div class="col-xs-4"><a ng-click="back()" class="btn btn-lg btn-default btn-block uppercase"><span>back</span></a></div>
                            <div class="col-xs-4 col-lg-offset-4"><a ng-click="next()" class="btn btn-lg btn-primary btn-block uppercase"><span>continue</span></a></div>
                        </div>
                    </div><!-- /box-6-inner -->
                </div><!-- /box-6 -->
            </div><!-- /col -->



            <div class="col-lg-4 col-sm-6">
                <div class="box-6">
                    <div class="box-6-inner clearfix">
                        <h4 class="style4 bg2">Summary of Charges <i class="icon-shopping-cart pull-right"></i></h4>
                        <table class="table table-striped table3">
                            <thead>
                            <tr ng-repeat="p in cp">
                                <th><img ng-src="{{topUrl}}{{p.brandimgUrl}}" width="111" height="48"></th>
                                <th>One-Time</th>
                                <th>Monthly</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="no-b" ng-repeat="p in cp">
                                <td colspan="3"><strong style="font-size:16px;">{{p.provider}}</strong> <a href="#" class="fontsize11">Edit</a></td>
                            </tr>
                            <tr ng-repeat="p in cp">
                                <td>{{p.title}}</td>
                                <td>&nbsp;</td>
                                <td class="text-right"><div class="txt1">${{p.priceNow}}</div></td>
                            </tr>


                            <tr ng-repeat="p in cp">
                                <td>Rebate</td>
                                <td>&nbsp;</td>
                                <td class="text-right"><div class="txt1">[${{p.rebate}}]</div></td>
                            </tr>

                            <tr class="danger">
                                <td colspan="3"><div class="links1"><a href="#"><i class="icon-plus-sign"></i>&nbsp; view details</a> &nbsp;&nbsp;&nbsp; <a href="#"><i class="icon-minus-sign"></i>&nbsp; remove</a></div></td>
                            </tr>

                            <tr class="no-b" ng-repeat="p in cp">
                                <td>Added to First Bill</td>
                                <td class="text-right"><div class="txt1">${{p.priceNow}}</div></td>
                                <td>&nbsp;</td>
                            </tr>

                            <tr ng-repeat="p in cp">
                                <td><strong>Total Monthly</strong></td>
                                <td>&nbsp;</td>
                                <td class="text-right"><div class="txt1"><strong>${{p.priceNow}}</strong></div></td>
                            </tr>
                            <tr>
                                <td><strong>Due today</strong></td>
                                <td>&nbsp;</td>
                                <td class="text-right"><div class="txt1"><strong>${{carttotal}}</strong></div></td>
                            </tr>
                            </tbody>
                        </table>
                    </div><!-- /box-6-inner -->
                </div><!-- /box-6 -->
            </div><!-- /col -->
        </div><!-- /row -->
    </div><!-- /box-8-inner -->
</div><!-- /box-8 -->
<!--</div>&lt;!&ndash; /container-content &ndash;&gt;-->
<!--</div>&lt;!&ndash; /container &ndash;&gt;-->
<!--</section>-->

