<div class="main-content">
<div class="container">
<div class="container-content v3 clearfix">
<div class="row">
<div class="box-4">
    <div class="col-lg-8 col-12">
        <h3 class="style5"><span class="i1">Select your options</span></h3>
        <p class="mb0">Personalize your plan for your home.</p>
        <div class="txt-address4 visible-lg">{{c.address1}}, {{c.city}} {{c.state}} {{c.zip}}</div>
    </div>
    <div class="logos" ng-repeat="p in cp"><img ng-src="{{topUrl}}{{p.brandimgUrl}}"></div>
</div><!-- /box-4 -->

<div class="clearer h30">&nbsp;</div>




<div class="box-8">
<div class="box-8-inner clearfix">
<div class="row">
<div class="col-lg-8 col-sm-6">
    <div class="box-6">
        <div class="box-6-inner clearfix">

            <div class="box-7">
                <div class="inner clearfix">
                    <h5>Premium Channels</h5>
                    <div class="row">
                        <div class="col-lg-5 col-sm-12">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    HBO, $5.00/month
                                </label>
                                &nbsp;
                                <a data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="icon-info-sign color2"></i></a>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Streampix, $4.99/month
                                </label>
                                &nbsp;
                                <a data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="icon-info-sign color2"></i></a>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Starz, $5.00/month
                                </label>
                                &nbsp;
                                <a data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="icon-info-sign color2"></i></a>
                            </div>
                        </div><!-- /col -->
                        <div class="col-lg-7 col-sm-12">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Cinemax, $5.00/month
                                </label>
                                &nbsp;
                                <a data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="icon-info-sign color2"></i></a>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    The Movie Channel, $10.00/month
                                </label>
                                &nbsp;
                                <a data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="icon-info-sign color2"></i></a>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Showtime, $5.00/month
                                </label>
                                &nbsp;
                                <a data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="icon-info-sign color2"></i></a>
                            </div>
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /inner -->
            </div><!-- /box-7 -->

            <div class="box-7">
                <div class="inner clearfix">
                    <h5>Primary cable outlet</h5>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <div class="radio">
                                <label>
                                    <input type="radio">
                                    AnyRoom DVR, $19.95/month
                                </label>
                                &nbsp;
                                <a data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="icon-info-sign color2"></i></a>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio">
                                    HD Service, $9.95/month
                                </label>
                                &nbsp;
                                <a data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="icon-info-sign color2"></i></a>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio">
                                    HD DVR Service, No Charge
                                </label>
                                &nbsp;
                                <a data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="icon-info-sign color2"></i></a>
                            </div>
                        </div><!-- /col -->
                        <div class="col-lg-6 col-sm-12">
                            <div class="radio">
                                <label>
                                    <input type="radio">
                                    Digital Service, No Charge
                                </label>
                                &nbsp;
                                <a data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="icon-info-sign color2"></i></a>
                            </div>
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /inner -->
            </div><!-- /box-7 -->

            <div class="box-7">
                <div class="inner clearfix">
                    <h5>Additional cable outlets</h5>
                    <div class="row">
                        <div class="col-lg-4 col-12">
                            <label>Digital Adapter &nbsp; <a data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="icon-info-sign color2"></i></a></label>
                            <select class="form-control"><option>None</option></select>
                        </div>
                        <div class="col-lg-4 col-12">
                            <label>HD DVR Service &nbsp; <a data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="icon-info-sign color2"></i></a></label>
                            <select class="form-control"><option>None</option></select>
                        </div>
                        <div class="col-lg-4 col-12">
                            <label>AnyRoom DVR &nbsp; <a data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="icon-info-sign color2"></i></a></label>
                            <select class="form-control"><option>None</option></select>
                        </div>
                        <div class="col-lg-4 col-12">
                            <label>HD Service &nbsp; <a data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="icon-info-sign color2"></i></a></label>
                            <select class="form-control"><option>None</option></select>
                        </div>
                        <div class="col-lg-4 col-12">
                            <label>Digital Service &nbsp; <a data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="icon-info-sign color2"></i></a></label>
                            <select class="form-control"><option>None</option></select>
                        </div>
                    </div><!-- /row -->
                </div><!-- /inner -->
            </div><!-- /box-7 -->

            <div class="box-7">
                <div class="inner clearfix">
                    <h5>Installation Options</h5>
                    <div class="row">
                        <div class="col-lg-12 col-12">
                            <div class="radio">
                                <label>
                                    <input type="radio">
                                    Professional Installation,  $15.00 One Time
                                </label>
                                &nbsp;
                                <a data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="icon-info-sign color2"></i></a>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio">
                                    Self Installation, No Charge
                                </label>
                                &nbsp;
                                <a data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><i class="icon-info-sign color2"></i></a>
                            </div>
                        </div>
                    </div><!-- /row -->
                </div><!-- /inner -->
            </div><!-- /box-7 -->


            <div class="row">
                <div class="col-lg-4 col-12 mb10"><a ng-click="back()" class="btn btn-yellow1 col-lg-12 col-12 col-sm-12"><span>back</span></a></div>
                <div class="col-lg-4 col-12 mb10 col-lg-offset-4"><a ng-click="next()" class="btn btn-yellow1 col-lg-12 col-12 col-sm-12"><span>next</span></a></div>
            </div>
        </div><!-- /box-6-inner -->
    </div><!-- /box-6 -->
</div><!-- /col -->



<div class="col-lg-4 col-sm-6">
    <div class="box-6">
        <div class="box-6-inner clearfix">
            <h4 class="style4 bg2">My Order Summary <i class="icon-shopping-cart pull-right"></i></h4>
            <table class="table table-striped table3">
                <tbody>
                <tr class="no-b" ng-repeat="p in cp">
                    <td>{{p.desc}}</td>
                    <td class="text-right"><div class="txt1"><strong>${{p.priceNow}}.99</strong><br>monthly</div></td>
                </tr>
                <tr ng-repeat="p in cp">
                    <td>Rebate</td>
                    <td class="text-right"><div class="txt1"><strong>[${{p.rebate}}]</strong><br>monthly</div></td>
                </tr>
                <tr class="danger">
                    <td colspan="2"><div class="links1"><a href="#"><i class="icon-plus-sign"></i>&nbsp; view details</a> &nbsp;&nbsp;&nbsp; <a href="#"><i class="icon-minus-sign"></i>&nbsp; remove</a></div></td>
                </tr>
                <tr>
                    <td><strong>Monthly Fees</strong></td>
                    <td class="text-right"><div class="txt1"><strong>${{carttotal}}</strong><br>monthly</div></td>
                </tr>
                </tbody>
            </table>
            <!-- <a href="billing-installation.html" class="btn btn-yellow1 col-lg-12 col-12 col-sm-12"><span>Continue</span><br>step 2 of 3</a>-->
        </div><!-- /box-6-inner -->
    </div><!-- /box-6 -->
</div><!-- /col -->
</div><!-- /row -->
</div><!-- /box-8-inner -->
</div><!-- /box-8 -->
</div><!-- /row -->


<div class="clearer h50">&nbsp;</div>


<div class="row">
    <div class="col-lg-6 col-12 col-sm-12">
        <span class="txt-secure2">Private &amp; Secure</span>
    </div>
    <div class="col-lg-6 col-12 col-sm-12">
        <div class="txt-cancel-continue1">Or <a href="#">Cancel</a> & continue without internet</div>
    </div>
</div><!-- /row -->
</div><!-- /container-content -->
</div><!-- /container -->


<div class="clearer h30">&nbsp;</div>


<div class="container nobg">
    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="secure-logos"><img src="http://localhost/assets/img/ico-mcafee.png"> <img src="http://localhost/assets/img/ico-pci.png"> <img src="http://localhost/assets/img/ico-verified.png"> <img src="http://localhost/assets/img/ico-authorize.png"></div>
        </div>
        <!--   <div class="col-lg-6 col-12">
            <div class="fontsize11"><strong>We are a private business entity that facilitates the address change process for its users and is not affiliated with the US Postal Service.</strong> The fee for this service is to cover the postage, handling, additional services not available through the post office and processing fees charged by the US Postal Service. If you just wish to file with the US Postal Service and not receive our additional benefits, you may do so by visiting the USPS website.</div>
           </div>  -->
    </div><!-- /row -->
</div><!-- /container -->
</div><!-- /main-content -->
