<div style="margin-left: 50px;margin-top: 20px" ng-repeat="a in stepApps">
        <div class="row-fluid">
        <div class="span4"><h3>{{a.name}}</h3></div>
        <div class="span2">Active <input type="checkbox" ng-model="a.active"></div>
        <div class="span2 btn btn-small bv_btn-custom" ng-click="cloneApp(a)">Clone</div>
        <div class="span1 btn btn-small" ng-click="deleteApp(a)">Delete</div>
    </div>
    <div class="row-fluid">
        <h4>Cart</h4>
        <div class="btn btn-small bv_btn-custom" ng-click="createStep()">New step</div>
    </div>
    <div ui-sortable="sortableOptions" class="row-fluid" ng-model="appElements[a.appID]">
            <div class="span2 stepbox effectStep"  ng-repeat="p in appElements[a.appID]" >
                <!--<div ng-class="{'stepboxnum stepactive': p.visible,'stepboxnum': !p.visible}">{{p.order}}</div>-->
                <div class="stepdel" ng-click="deleteStep(p)"><img src="/images/admin_del_step.png" width="20" height="20"></div>
            <h4 ng-click="openStepInfo(p)" ng-class="{'stepactive': p.visible,'': !p.visible}">{{p.title}}</h4>
            </div>
    </div>
    <div class="row-fluid" ng-show="a.agent=='agent'">
        <h4>Stand-alone widgets</h4>
        <div class="btn btn-small bv_btn-custom" ng-click="createWidget()">New widget</div>
    </div>
    <div class="row-fluid">
        <div class="span2 stepbox effectStep" ng-repeat="w in appWidgets[a.appID]">
            <h4  ng-click="openStepInfo(w)">{{w.title}}</h4>
        </div>
    </div>
</div>