<div class="row-fluid">
    <!--<div class="span8 offset1"><h2><b>Dear {{c.fname}}</b></h2><p>Congrats on your purchase! We suggest that you look at the most popular offers in the {{c.city}} area</p></div>-->
    <h4 class="lego20_flexi_wirefly_grey_footer_subscription_h4">{{step.prompt}} in the {{c.city}} area</h4>
</div>
<!--<div class="row-fluid" ng-repeat="p in products">-->
    <!--<div class="offset1 span2"><div><b>{{p.provider}}</b></div>-->
    <!--<div><img ng-src="{{topUrl}}{{p.brandimgUrl}}" width="40" height="40"/></div></div>-->
    <!--<div class="span4"><h3>{{p.title}}</h3><h4>{{p.desc}}</h4></div>-->
    <!--<div class="span2">-->
        <!--<div><b>${{p.priceNow}}</b></div>-->
        <!--<div class="btn bv_btn-custom" ng-click="addToCartandNext(p)">Purchase</div>-->
    <!--</div>-->
<!--</div>-->
   <!--<div class="row-fluid">-->
       <!--<div class="wirefly_hp_ob_outercontainer" ng-repeat="p in products">-->
           <!--<div class="wirefly_hp_ob_container">-->
               <!--<div class="wirefly_hp_ob_deviceimage_container">-->


                   <!--<a ng-click="addToCartandNext(p)"  title="{{p.title}}" alt="Samsung Galaxy S 4 Mini">-->
                       <!--<img class="wirefly_hp_ob_deviceimage" ng-src="{{topUrl}}{{p.typeUrl}}"  width="65" height="65"  alt="{{p.title}}">-->
                   <!--</a>-->

               <!--</div>-->
               <!--<div class="wirefly_hp_ob_cxrlogo_container">-->

                   <!--<img class="wirefly_hp_ob_cxrlogo" ng-src="{{topUrl}}{{p.brandimgUrl}}" width="60" height="40" alt="Verizon Wireless Cell Phones and Rate Plans" border="0">-->

               <!--</div>-->
               <!--<div class="wirefly_hp_ob_devicename_container">-->
                   <!--<div class="wirefly_hp_ob_devicename">-->

                       <!--<h2 class="wirefly_hp_ob_devicename">-->
                           <!--<a class="wirefly_hp_ob_devicename" title="{{p.title}}" alt="{{p.title}}">-->
                               <!--{{p.title}}-->
                           <!--</a>-->
                       <!--</h2>-->

                   <!--</div>-->
               <!--</div>-->
               <!--<div class="wirefly_hp_ob_list_maincontainer">-->
                   <!--<div class="wirefly_hp_ob_list_container">-->

                       <!--<ul id="wirefly_hp_ob_list">-->
                           <!--<li class="wirefly_hp_ob_list_text" ng-repeat="h in p.highlights">{{h}}</li>-->
                       <!--</ul>-->

                   <!--</div>-->
               <!--</div>-->
               <!--<div class="wirefly_hp_ob_savings_container">-->
                   <!--<div class="wirefly_hp_ob_savings" id="savings_65441">-->
                       <!--Original price: ${{p.priceOrig}}-->
                   <!--</div>-->
               <!--</div>-->
               <!--<div class="wirefly_hp_ob_pricecta_container">-->
                   <!--<div class="wirefly_hp_ob_price_container" id="wirefly_pricing_65441">-->
                       <!--<a class="wirefly_hp_ob_price" id="offer_65441" href="/r.aspx?oflag=specialoffer&amp;mode=0&amp;refcode2=&amp;referringdomain=wirefly&amp;refcode1=&amp;agent=&amp;eid=&amp;zipcode=02122&amp;p1pid=65441&amp;originpage=" title="$0.99 " alt="$0.99 ">-->
                           <!--${{p.priceNow}}-->
                       <!--</a>-->

                   <!--</div>-->
               <!--</div>-->
               <!--<div class="wirefly_hp_ob_pricecta_container">-->

                   <!--<a style="cursor: pointer" ng-click="addToCartandNext(p)" title="Shop Now" alt="Shop Now">-->
                       <!--<img src="/images/Wireflyhomepage/shop_now_med.gif" alt="Shop Now" class="wirefly_hp_ob_cta" border="0">-->
                   <!--</a>-->

               <!--</div>-->
           <!--</div>-->
       <!--</div>-->
   <!--</div>-->
        <!--option 2 class="specialoffer70_260_offer_block_narrow" -->
<div class="row-fluid">
    <div style="float: left; width: 300px; margin-left: 10px; display: block;max-height: 500px" ng-repeat="p in products">
        <div class="specialoffer70_260_offer_block_narrow_top">
            <img ng-src="{{topUrl}}{{p.brandimgUrl}}"  width="40" height="40"  style=" float:right; margin-right: 20px; border-width:0px;" alt="Samsung" title="Samsung">
        </div>
        <div class="specialoffer70_260_offer_block_narrow_bottom">
            <a href="javascript:void(0)" onclick="return _imageGalleryModal.showPhoneLine(1);">
                <img class="specialoffer70_260_offer_block_narrow_phone_image" ng-src="{{topUrl}}{{p.typeUrl}}"  width="85" height="65"  style="border-width:0px;" alt="Samsung Galaxy S III Blue" title="Samsung Galaxy S III Blue"></a>
            <div class="specialoffer70_260_offer_block_narrow_infoblock_titles">
                <h2 class="specialoffer70_260_offer_block_narrow_infoblock_phonename">{{p.title}}</h2>
                <h1 class="specialoffer70_260_offer_block_narrow_infoblock_price">{{p.priceNow}}</h1>
                <h4 id="lblPhonePriceDetails" class="specialoffer70_260_offer_block_narrow_infoblock_price">ONLY this month</h4>
                <a style="cursor: pointer" ng-click="addToCartandNext(p)" title="Select" alt="Select">
                    <img class="add_to_cart_button_special_offer" src="/images/spacer.gif" alt="Add to Cart">
                </a>
                <span class="ue_launch_link"></span>
            </div>

            <div class="specialoffer70_260_offer_block_narrow_infoblock_prices">
                <table id="tblPriceBlock1" class="specialoffer70_offer_block_price_table">
                    <tbody><tr>
                        <td class="specialoffer70_offer_block_price_table_head specialoffer70_offer_block_price_table_left">
                            Item
                        </td>
                        <td id="tblPriceBlock_th_value1" class="specialoffer70_offer_block_price_table_head specialoffer70_offer_block_price_table_center">Value</td>
                        <td class="specialoffer70_offer_block_price_table_head specialoffer70_offer_block_price_table_right">
                            Price
                        </td>
                    </tr>
                    <tr>
                        <td id="lblPhonePriceBlockPhoneName" class="specialoffer70_offer_block_price_table_cell specialoffer70_offer_block_price_table_left">{{p.title}}</td>
                        <td id="lblPhonePriceBlockValue" class="specialoffer70_offer_block_price_table_cell specialoffer70_offer_block_price_table_center"><span class="phoneValue">${{p.priceOrig}}</span></td>
                        <td id="lblPhonePriceBlockPrice" class="specialoffer70_offer_block_price_table_cell specialoffer70_offer_block_price_table_right"><b>${{p.priceNow}}</b></td>
                    </tr>
                </tbody></table>
            </div>
        </div>
    </div>
</div>
