<section class="panel panel-default">
    <div class="row m-l-none m-r-none">
        <div class="col-lg-6">
            <h3 class="m-b-none">{{viewTitle}}</h3>
        </div>
        <div class="col-lg-6">
            <div class="doc-buttons pull-right">
                <button class="btn btn-success btn-sm" ng-click="loadAppWidgets()"><i class="fa fa-list-ol"></i> Flow</button>
                <button class="btn btn-success btn-sm" ng-click="saveObj()"><i class="fa fa-save"></i> Save</button>
            </div>
        </div>
    </div>
</section>
<section class="hbox stretch">
    <!-- .aside -->
        <section class="vbox">
            <div class="row" ng-repeat="a in stepApps">
                <div>
                    <a href="#" ng-click="createStep(a, appElements[a.appID], 'app')"> <i class="fa fa-plus time-icon inline-block bg-dark"></i>New Widget</a>
                </div>
                <div class="col-lg-3" ng-repeat="w in appElements[a.appID]">
                    <section class="panel panel-default">
                        <header class="panel-heading font-bold">
                            <span class="pull-right">
                                <a href="#" ng-click="openWidgetDetail(w)"><i class="fa fa-pencil icon-muted fa-fw m-r-xs"></i></a>
                                <a href="#" ng-click="deleteStep(w, appElements[a.appID])"><i class="fa fa-times icon-muted fa-fw"></i></a>
                             </span>{{w.title}}
                        </header>
                        <div class="panel-body">
                            {{w.desc}}
                        </div>
                    </section>
                </div>
            </div>
        </section>
    <!-- /.aside -->
    <!-- .aside -->
    <aside class="bg-light lter b-r aside-md hidden-print nav-xs-right" id="filternav" ng-controller="filterctrl">
        <section class="vbox">
            <header class="header bg-primary lter text-center clearfix">
                <div class="row">
                    <a href="#filternav" data-toggle="class:nav-xs" class="pull-left btn btn-sm btn-default btn-icon">
                        <i class="fa fa-angle-right text"></i>
                        <i class="fa fa-angle-left text-active"></i>
                    </a>
                    <div class="btn-group">
                        <!--<button type="button" class="btn btn-sm btn-dark btn-icon"></button>-->
                        <div class="btn-group hidden-nav-xs">
                            <button type="button" class="btn btn-sm btn-primary" ng-click="load()">
                                Apply
                            </button>
                            <button type="button" class="btn btn-sm" ng-click="reset()">
                                Reset
                            </button>
                        </div>
                    </div>
                </div>
            </header>
            <section class="w-f ">
                <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">

                    <!-- nav -->
                    <nav class="nav-primary hidden-xs">
                        <ul class="nav">
                            <li >
                                <a href="index.html"  >
                                    <i class="fa fa-dashboard icon">
                                        <b class="bg-danger"></b>
                                    </i>
                                    <span>Quick Stats</span>
                                </a>
                            </li>
                            <li  class="active">
                                <a href="#layout"   class="active">
                                    <i class="fa fa-filter icon">
                                        <b class="bg-warning"></b>
                                    </i>
                        <span class="pull-right">
                          <i class="fa fa-angle-down text"></i>
                          <i class="fa fa-angle-up text-active"></i>
                        </span>
                                    <span>Filter</span>
                                </a>
                                <ul class="nav lt" style="display: block">
                                    <li ng-repeat="fd in filterList">
                                        <section class="panel panel-default">
                                            <div class="panel-body" ng-include="fd.template"></div>
                                        </section>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- / nav -->
                </div>
            </section>
        </section>
    </aside>
    <!-- /.aside -->
</section>
