<div  ng-controller="leadctrl">
<section class="panel panel-default">
    <div class="row m-l-none m-r-none">
        <div class="col-lg-6">
            <h3 class="m-b-none">{{viewTitle}}</h3>
        </div>
        <div class="col-lg-6" ng-include="subTools">
        </div>
    </div>
</section>

<section class="hbox stretch">
<div class="row">
<aside class="col-lg-6 bg-light lter b-r">
    <section class="vbox">
        <section>
            <div class="wrapper bg-light lter">
                <section class="panel panel-default">
                    <header class="panel-heading font-bold">Personal Information</header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="obj.fname" placeholder="First name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="obj.lname" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="email" class="form-control" ng-model="obj.email" placeholder="Enter email">
                            </div>
                        </div>
                    </div>
                </section>
                <section class="panel panel-default">
                    <header class="panel-heading font-bold">Location</header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="obj.address1" placeholder="Street Address">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="obj.zip" placeholder="Zip code">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="panel panel-default">
                    <header class="panel-heading font-bold">Scheduling</header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="leadevent.title" placeholder="Note">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <select class="form-control" ng-model="leadevent.ownerID" ng-options="u._id as u.lname for u in admins" placeholder="Assign to"></select>
                                </div>
                            </div>
                            <div class="dropdown col-md-6">
                                <a class="dropdown-toggle" id="e_start" role="button" data-toggle="dropdown" data-target="#" href="#">
                                    <div class="input-group"><input type="text" class="form-control" data-ng-model="leadevent.start">
                                        <span class="input-group-btn"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="leadevent.start" data-datetimepicker-config="{ dropdownSelector: '#e_start' }"/>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <button type="submit" class="btn btn-sm btn-default btn-primary" ng-click="createLead()">Create Lead</button>
            </div>
        </section>

    </section>
</aside>
</div>
</section>
</section>
</section>
</div>