<section ng-controller="dashctrl">
<button href="#moreless" class="btn btn-sm btn-default" ng-click="createSingle()"><i class="fa fa-plus text"></i>
    <span class="text">Report...</span>
</button>
<section class="panel panel-default">
    <div class="row m-l-none m-r-none" ui-sortable="srsort" ng-model="sr">
        <div class="col-sm-6 col-md-3 padder-v b-r b-light" ng-include="r.template" ng-repeat="r in sr">

        </div>
    </div>
    <!--<div class="row m-l-none m-r-none bg-light lter">-->
        <!--<div class="col-sm-6 col-md-3 padder-v b-r b-light">-->
                    <!--<span class="fa-stack fa-2x pull-left m-r-sm">-->
                      <!--<i class="fa fa-circle fa-stack-2x text-info"></i>-->
                      <!--<i class="fa fa-group fa-stack-1x text-white"></i>-->
                    <!--</span>-->
            <!--<a class="clear" href="#">-->
                <!--<span class="h3 block m-t-xs"><strong>{{total}}</strong></span>-->
                <!--<small class="text-muted text-uc">Consumers</small>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="col-sm-6 col-md-3 padder-v b-r b-light">-->
                    <!--<span class="fa-stack fa-2x pull-left m-r-sm">-->
                      <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                      <!--<i class="fa fa-random fa-stack-1x text-white"></i>-->
                      <!--<span class="easypiechart pos-abt" data-percent="100" data-line-width="4" data-track-Color="#fff" data-scale-Color="false" data-size="50" data-line-cap='butt' data-animate="2000" data-target="#bugs" data-update="3000"></span>-->
                    <!--</span>-->
            <!--<a class="clear" href="#">-->
                <!--<span class="h3 block m-t-xs"><strong id="bugs">{{providers}}   </strong></span>-->
                <!--<small class="text-muted text-uc">Providers</small>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="col-sm-6 col-md-3 padder-v b-r b-light">-->
                    <!--<span class="fa-stack fa-2x pull-left m-r-sm">-->
                      <!--<i class="fa fa-circle fa-stack-2x text-warning"></i>-->
                      <!--<i class="fa fa-shopping-cart fa-stack-1x text-white"></i>-->
                      <!--<span class="easypiechart pos-abt" data-percent="100" data-line-width="4" data-track-Color="#f5f5f5" data-scale-Color="false" data-size="50" data-line-cap='butt' data-animate="3000" data-target="#firers" data-update="5000"></span>-->
                    <!--</span>-->
            <!--<a class="clear" href="#">-->
                <!--<span class="h3 block m-t-xs"><strong id="firers">{{orders}}</strong></span>-->
                <!--<small class="text-muted text-uc">Orders</small>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="col-sm-6 col-md-3 padder-v b-r b-light">-->
                    <!--<span class="fa-stack fa-2x pull-left m-r-sm">-->
                      <!--<i class="fa fa-circle fa-stack-2x text-danger"></i>-->
                      <!--<i class="fa fa-male fa-stack-1x text-white"></i>-->
                      <!--<span class="easypiechart pos-abt" data-percent="100" data-line-width="4" data-track-Color="#f5f5f5" data-scale-Color="false" data-size="50" data-line-cap='butt' data-animate="3000" data-target="#firers" data-update="5000"></span>-->
                    <!--</span>-->
            <!--<a class="clear" href="#">-->
                <!--<span class="h3 block m-t-xs"><strong id="admins">{{admins}}</strong></span>-->
                <!--<small class="text-muted text-uc">Admin Users</small>-->
            <!--</a>-->
        <!--</div>-->
    </div>
</section>
<button href="#moreless" class="btn btn-sm btn-default" ng-click="createMulti()"><i class="fa fa-plus text"></i>
    <span class="text">Report...</span>
</button>
<div class="row">
    <div class="col-md-6">
        <section class="panel panel-default">
            <header class="panel-heading font-bold">Conversion %</header>
            <div class="panel-body">
                <chart-gen style="position: relative; width: 450px; height: 300px; margin: 20px" opt="gaugeOpt"></chart-gen>
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="panel panel-default">
            <header class="panel-heading font-bold">Visits</header>
            <div class="panel-body">
                <chart-gen style="position: relative; width: 450px; height: 300px; margin: 20px" opt="abanOpt"></chart-gen>
            </div>
        </section>
    </div>
</div>

</section>