
<!--<section class="m-t-lg wrapper-md animated fadeInDown" ng-controller="fieldctrl">-->
    <!--<div class="container aside-xxl"><a class="navbar-brand block" href="#">{{viewTitle}}</a>-->

        <!--<section class="panel panel-default m-t-lg bg-white">-->
            <!--<form class="panel-body wrapper-lg">-->
                <!--<form role="form">-->
                    <!--<div class="panel-body" ng-include="fd.template" ng-repeat="fd in fieldList"></div>-->
                    <!--&lt;!&ndash;<div dynamic="propsEl"></div>&ndash;&gt;-->
                <!--</form>-->
                <!--<a href="#" ng-click="saveChanges()" class="btn btn-default btn-block">Save & Close</a></form>-->
        <!--</section>-->
    <!--</div>-->
<!--</section>-->


<section class="m-t-lg wrapper-md animated fadeInDown" ng-controller="fieldctrl">
     <div class="container aside-xxl"><a class="navbar-brand block" href="#">{{viewTitle}}</a>
        <section class="panel panel-default m-t-lg bg-white">
            <header class="panel-heading font-bold">Properties</header>
            <form class="panel-body wrapper-lg">
                <form role="form">
                    <div class="panel-body" ng-include="fd.template" ng-repeat="fd in fieldList"></div>
                    <!--<div dynamic="propsEl"></div>-->
                </form>
            </form>
        </section>


        <section class="panel panel-default m-t-lg bg-white">
            <section class="panel panel-default pos-rlt clearfix">
                <header class="panel-heading">
                    <ul class="nav nav-pills pull-right">
                        <li>
                            <a href="#" class="panel-toggle btn btn-default btn-sm m-b">
                                <i class="fa fa-minus icon-muted text-active"></i>
                                <i class="fa fa-plus icon-muted text"></i>Add</a>
                        </li>
                    </ul>Options
                </header>
                <div class="panel-body clearfix collapse">
                    <div class="form-group"><input type="text" ng-model="newopt" class="form-control" placeholder="Option"> </div>
                    <button class="btn btn-success" ng-click="newOpt()">Save</button>
                </div>
            </section>
            <ul class="list-group no-radius m-b-none m-t-n-xxs list-group-lg no-border">
                <li class="list-group-item" ng-repeat="opt in fieldOptions">
    <span class="pull-right">
        <a href="#" ng-click="removeOpt(opt)"><i class="fa fa-times icon-muted fa-fw"></i></a>
     </span>
                    <a href="#" class="thumb-sm pull-left m-r-sm">
                        <i class="fa fa-tablet"></i>
                    </a>
                    <a href="#" class="clear">
                        <strong class="block">{{opt.value}}</strong>
                    </a>
                </li>
            </ul>

            <a href="#" ng-click="saveChanges()" class="btn btn-default btn-block">Save & Close</a></form>
        </section>
    </div>
</section>