<div class="btn-group pull-right">
    <a href="#" class="btn btn-info" ng-click="saveChanges()"><i class="fa fa-css3"></i> Save</a>
    <a href="#" class="btn btn-info" ng-click="export()"><i class="fa fa-css3"></i> Export</a>
    <a href="#" class="btn btn-info" ng-click="import()"><i class="fa fa-css3"></i> Import</a>
    <a href="#" class="btn btn-info" ng-click="saveMassChanges()"><i class="fa fa-css3"></i> Bulk</a>
    <a href="#" class="btn btn-info" ng-click="deleteRec()"><i class="fa fa-css3"></i> Delete</a>
</div>