
<!-- /.aside -->
<!-- .aside -->
<aside class="bg-light lter b-l"  ng-controller="inboxctrl" id="email-list">
<section class="panel panel-default">
    <div class="row m-l-none m-r-none">
        <div class="col-lg-6">
            <h3 class="m-b-none">{{viewTitle}}</h3>
        </div>
        <div class="col-lg-6" ng-include="subTools">
        </div>
    </div>
</section>

<section class="vbox">
<section>
<ul class="list-group no-radius m-b-none m-t-n-xxs list-group-alt list-group-lg">
<li class="list-group-item animated fadeInRightBig" ng-repeat="m in newNotes" href="#email-content, #email-list" data-toggle="class:show,hide">
    <a href="#" class="thumb-xs pull-left m-r-sm">
        <img ng-src="{{rootUrl}}{{senderAvatar}}" class="img-circle">
    </a>
    <a href="#" class="clear" ng-click="openNote(m)">
        <small class="pull-right text-muted">{{m.createdTime}}</small>
        <strong>{{m.senderName}}</strong>
        <span>{{m.shortened}}<span class="text-danger">Read me</span></span>
    </a>
</li>
<li class="list-group-item" ng-repeat="m in readNotes">
    <a href="#" class="thumb-xs pull-left m-r-sm">
        <img ng-src="{{rootUrl}}{{senderAvatar}}" class="img-circle">
    </a>
    <a href="#" ng-click="openNote(m)" class="clear">
        <small class="pull-right text-muted">{{m.createdTime}}</small>
        <strong>{{m.senderName}}</strong> <span class="label label-sm bg-primary text-uc"></span>
        <span>{{m.shortened}}</span>
    </a>
</li>


</ul>
</section>
<!--<footer class="footer b-t bg-white-only">-->
    <!--<form class="m-t-sm">-->
        <!--<div class="input-group">-->
            <!--<input type="text" class="input-sm form-control input-s-sm" placeholder="Search">-->
            <!--<div class="input-group-btn">-->
                <!--<button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->
<!--</footer>-->
</section>
</aside>
<!-- /.aside -->
<!-- .aside -->

<!-- /.aside -->
