<div class="doc-buttons pull-right">
    <button class="btn btn-success btn-sm" ng-click="surveyMap()"><i class="fa fa-sitemap"></i>Survey Map</button>
    <button class="btn btn-success btn-sm" ng-click="newQuestion()"><i class="fa fa-plus"></i> New</button>
    <button class="btn btn-success btn-sm" ng-click="saveSurvey()"><i class="fa fa-save"></i> Save</button>
    <button class="btn btn-success btn-sm" ng-show="linkedAnswer" ng-click="backtoParent()"><i class="fa fa-save"></i> Back to parent</button>
</div>