<div class="doc-buttons pull-right">
    <button class="btn btn-success btn-sm" ng-click="loadTeasRules()"><i class="fa fa-circle-o"></i> Ad Rules</button>
    <button class="btn btn-success btn-sm" ng-click="loadQualRules()"><i class="fa fa-dot-circle-o"></i> Listing Rules</button>
    <button class="btn btn-success btn-sm" ng-click="createRule()"><i class="fa fa-plus"></i> New</button>
    <button class="btn btn-success btn-sm" ng-click="saveChanges()"><i class="fa fa-save"></i> Save</button>
</div>