
                    <span class="fa-stack fa-2x pull-left m-r-sm">
                      <i class="fa fa-circle fa-stack-2x text-info"></i>
                      <i class="fa fa-group fa-stack-1x text-white"></i>
                    </span>
    <span class="pull-right">
        <a href="#" ng-click="editReport(r)"><i class="fa fa-pencil icon-muted fa-fw m-r-xs"></i></a>
        <a href="#" ng-click="deleteReport(r)"><i class="fa fa-times icon-muted fa-fw"></i></a>
     </span>

    <a class="clear" href="#">
        <span class="h3 block m-t-xs"><strong>{{r.data}}</strong></span>
        <small class="text-muted text-uc">{{r.title}}</small>
    </a>
