<div  ng-controller="templateCtrl">
<section class="panel panel-default">
    <div class="row m-l-none m-r-none">
        <div class="col-lg-6">
            <h3 class="m-b-none">{{viewTitle}} - {{obj.title}}</h3>
        </div>
        <div class="col-lg-6" ng-include="subTools">
        </div>
    </div>
</section>
<section class="vbox">
<section>
<section class="hbox stretch">
<aside class=" bg-light lter b-r">
<section class="hbox stretch">
<section class="vbox">
<header class="header bg-light bg-gradient">
    <ul class="nav nav-tabs nav-white">
        <li class="active"><a href="#main" data-toggle="tab">Properties</a></li>
        <li class=""><a href="#edit" ng-click="showRaw()" data-toggle="tab">Editor</a></li>
        <li class=""><a href="#ques" ng-click="editSurvey(appObj)" data-toggle="tab" ng-show="obj.isSurvey">Questions</a></li>
        <li class=""><a href="#preview" ng-click="showTemplate()" data-toggle="tab">Preview</a></li>
        <li class=""><a href="#track" ng-click="showTrackTags()" data-toggle="tab">Tracking</a></li>
        <li class=""><a href="#int" ng-click="showIntscript()" data-toggle="tab">Integration</a></li>
        <li class=""><a href="#rules" ng-click="openRules()" data-toggle="tab">Rules</a></li>
        <li class=""><a href="#fields" ng-click="loadFields()" data-toggle="tab">Fields</a></li>
    </ul>
</header>
<section class="vbox">
<div class="tab-content">
<div class="tab-pane active" id="main">
    <div class="col-lg-8 wrapper bg-light lter">
        <form role="form">
            <div class="panel-body" ng-include="fd.template" ng-repeat="fd in fieldList"></div>
            <!--<div dynamic="propsEl"></div>-->
        </form>
    </div>
</div>
<div class="tab-pane" id="edit">
    <section class="hbox stretch">
        <div class="line pull-in"></div>
        <div class="btn-toolbar m-b-sm btn-editor">
            <div class="btn-group">
                <section class="panel panel-default pos-rlt clearfix">
                    <header class="panel-heading">
                        <ul class="nav nav-pills pull-right">
                            <li>
                                <a href="#" class="panel-toggle btn btn-default btn-sm m-b">
                                    <i class="fa fa-minus icon-muted text-active"></i>
                                    <i class="fa fa-plus icon-muted text"></i>Publish</a>
                            </li>
                        </ul>
                    </header>
                    <div class="panel-body clearfix collapse">
                        <div class="form-group"><input type="text" ng-model="draft.comment" class="form-control" placeholder="Name"> </div>
                        <button class="btn btn-success" ng-click="publish()">Publish</button>
                    </div>
                </section>
            </div>

            <div class="btn-group">
                <div class="btn-group">
                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Font"><i class="fa fa-bars"></i>Insert Actions<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="ab in actionblocks">
                            <a href="#/admin" ng-click="insertBlock(ab)" >
                                <i class="fa fa-angle-right"></i>
                                <span>{{ab.name}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="btn-group">
                <div class="btn-group">
                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Font"><i class="fa fa-bars"></i>Insert Data<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="db in datablocks">
                            <a href="#/admin" ng-click="insertBlock(db)" >
                                <i class="fa fa-angle-right"></i>
                                <span>{{db.name}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="btn-group">
                <div class="btn-group">
                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Font"><i class="fa fa-bars"></i>Insert Input Field<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="ib in inputblocks">
                            <a href="#/admin" ng-click="insertBlock(ib)" >
                                <i class="fa fa-angle-right"></i>
                                <span>{{ib.name}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="btn-group">
                <a class="btn btn-default btn-sm" ng-click="newField()"><i class="fa fa-undo"></i>New Attribute
                </a>
            </div>
            <div class="btn-group">
                <a class="btn btn-default btn-sm" ng-click="newBlock()"><i class="fa fa-undo"></i>New UI Element
                </a>
            </div>

        </div>
        <textarea class="form-control no-border" rows="30" placeholder="HTML template text..." ng-model="obj.rawhtml" mk-keydown="tmplkeydown($event)"></textarea>
        <aside class="bg-light lter b-r aside-md hidden-print nav-xs-right" id="editornav">
            <section class="vbox">
                <header class="header bg-primary lter text-center clearfix">
                    <div class="row">
                        <a href="#editornav" data-toggle="class:nav-xs" class="pull-left btn btn-sm btn-default btn-icon">
                            <i class="fa fa-angle-right text"></i>
                            <i class="fa fa-angle-left text-active"></i>
                        </a>
                    </div>
                </header>
                <section class="w-f ">
                    <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">

                        <!-- nav -->
                        <nav class="nav-primary hidden-xs">
                            <ul class="nav">

                                <li  class="active">
                                    <a href="#layout"   class="active">
                                        <i class="fa fa-archive icon">
                                            <b class="bg-danger"></b>
                                        </i>
                            <span class="pull-right">
                              <i class="fa fa-angle-down text"></i>
                              <i class="fa fa-angle-up text-active"></i>
                            </span>
                                        <span>Versions</span>
                                    </a>
                                    <ul class="nav lt" style="display: block">
                                        <li ng-repeat="v in versions">
                                             <span class="pull-right">
                                                <a href="#" ng-click="removeVersion(v)"><i class="fa fa-times icon-muted fa-fw"></i></a>
                                             </span>

                                            <div class="dd-handle">
                                                <a href="#" class="clear" ng-click="loadVersion(v)">
                                                    <strong class="block">{{v.comment}}</strong>
                                                    <small>{{v.changedFormatted}}</small>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <!-- / nav -->
                    </div>
                </section>
            </section>
        </aside>
    </section>
</div>
<div class="tab-pane" id="ques" ng-show="obj.isSurvey" ng-include="modalTabPage">

</div>
<div class="tab-pane" id="preview">
    <iframe style="width: 100%; min-height: 600px" ng-src="{{masterTmpl}}?step={{obj._id}}&tenant={{tenant}}&app={{applid}}"></iframe>

</div>
    <div class="tab-pane" id="track">
        <div class="line pull-in"></div>
        <textarea class="form-control no-border" rows="30" placeholder="Tracking tags..." ng-model="obj.tracktags"></textarea>

    </div>
<div class="tab-pane" id="int">
    <div class="line pull-in"></div>
    <textarea class="form-control no-border" rows="30" placeholder="Integration script..." ng-model="obj.integration"></textarea>

</div>

<div class="tab-pane" id="rules">
    <header class="header bg-light bg-gradient">
        <ul class="nav nav-tabs nav-white">
            <li class="active"><a href="#ruleTab" ng-click="openRules()" data-toggle="tab">Behavior</a></li>
            <li class=""><a href="#valrules" ng-click="openValidation()" data-toggle="tab">Validation</a></li>
            <li class=""><a href="#nextrules" ng-click="openNextRules()" data-toggle="tab">Next step</a></li>
        </ul>
    </header>
    <section class="vbox">
        <div class="tab-content">
            <div class="tab-pane active" id="ruleTab" ng-include="stepRuleTemplate">

            </div>
            <div class="tab-pane" id="valrules" ng-include="stepRuleTemplate">

            </div>
            <div class="tab-pane" id="nextrules" ng-include="stepRuleTemplate">

            </div>
        </div>
    </section>

</div>
<div class="tab-pane" id="fields">
    <section class="hbox stretch">

        <aside class="bg-light lter b-r aside-md">
            <mk-nest class="dd" group="1" onchangefn="onAddField(list)">
                <ol class="dd-list list-group no-radius m-b-none m-t-n-xxs list-group-lg no-border">
                    <li class="dd-item list-group-item" data-id="{{$index}}" ng-repeat="f in myfields">
    <span class="pull-right">
        <a href="#" ng-click="removeField(f)"><i class="fa fa-times icon-muted fa-fw"></i></a>
     </span>

                        <div class="dd-handle">
                            <a href="#" class="clear">
                                <strong class="block">{{f.label}}</strong>
                                <small>{{f.fldname}}</small>
                            </a>
                        </div>
                    </li>
                </ol>
            </mk-nest>
        </aside>
        <aside class="bg-light lter b-r aside-md hidden-print nav-xs-right nav-xs" id="actnav">
            <section class="vbox">
                <header class="header bg-primary lter text-center clearfix">
                    <div class="row">
                        <a href="#actnav" data-toggle="class:nav-xs" class="pull-left btn btn-sm btn-default btn-icon">
                            <i class="fa fa-angle-right text"></i>
                            <i class="fa fa-angle-left text-active"></i>
                        </a>
                        <div class="btn-group">
                            <div class="btn-group hidden-nav-xs">
                                <button class="btn btn-success btn-sm"><i class="fa fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Available fields
                                </button>
                            </div>
                        </div>
                    </div>
                </header>
                <section class="w-f ">
                    <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">

                        <!-- nav -->
                        <nav class="nav-primary hidden-xs">
                            <ul class="nav">
                                <li  class="active">
                                    <a href="#layout"   class="active">
                                        <i class="fa fa-columns icon">
                                            <b class="bg-warning"></b>
                                        </i>
                        <span class="pull-right">
                          <i class="fa fa-angle-down text"></i>
                          <i class="fa fa-angle-up text-active"></i>
                        </span>
                                        <span>Consumer</span>
                                    </a>
                                    <mk-nest class="dd" group="1">
                                        <ol class="dd-list nav lt">
                                            <li class="dd-item" data-id="{{$index}}" ng-repeat="a in existingFields">
                                                <div class="dd-handle dd3-handle">Drag</div>
                                                <div class="dd3-content">

                                                    <a href="#" >
                                                        <strong class="block">{{a.name}}</strong>
                                                        <small>{{a.desc}}</small>
                                                    </a>
                                                </div>
                                            </li>
                                        </ol>
                                    </mk-nest>
                                </li>
                            </ul>
                        </nav>
                        <!-- / nav -->
                    </div>
                </section>
            </section>
        </aside>
    </section>
</div>
</div>
</section>
</section>
</section>
</aside>
<!--<aside class="col-lg-4 b-l">-->
    <!--<section class="vbox">-->
        <!--<section>-->
            <!--<div class="wrapper">-->
                <!--<section class="panel panel-default">-->
                    <!--<form>-->
                        <!--<textarea class="form-control no-border" rows="3" placeholder="Quick message..."></textarea>-->
                    <!--</form>-->
                    <!--<footer class="panel-footer bg-light lter">-->
                        <!--<button class="btn btn-info pull-right btn-sm">POST</button>-->
                        <!--<ul class="nav nav-pills nav-sm">-->
                            <!--<li><a href="#"><i class="fa fa-camera text-muted"></i></a></li>-->
                            <!--<li><a href="#"><i class="fa fa-video-camera text-muted"></i></a></li>-->
                        <!--</ul>-->
                    <!--</footer>-->
                <!--</section>-->
                <!--<section class="panel panel-default">-->
                    <!--<h4 class="font-thin padder">Latest Tweets</h4>-->
                    <!--<ul class="list-group">-->
                        <!--<li class="list-group-item">-->
                            <!--<p>Wellcome <a href="#" class="text-info">@Drew Wllon</a> and play this web application template, have fun1 </p>-->
                            <!--<small class="block text-muted"><i class="fa fa-clock-o"></i> 2 minuts ago</small>-->
                        <!--</li>-->
                        <!--<li class="list-group-item">-->
                            <!--<p>Morbi nec <a href="#" class="text-info">@Jonathan George</a> nunc condimentum ipsum dolor sit amet, consectetur</p>-->
                            <!--<small class="block text-muted"><i class="fa fa-clock-o"></i> 1 hour ago</small>-->
                        <!--</li>-->
                        <!--<li class="list-group-item">-->
                            <!--<p><a href="#" class="text-info">@Josh Long</a> Vestibulum ullamcorper sodales nisi nec adipiscing elit. </p>-->
                            <!--<small class="block text-muted"><i class="fa fa-clock-o"></i> 2 hours ago</small>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</section>-->
                <!--<section class="panel clearfix bg-info lter">-->
                    <!--<div class="panel-body">-->
                        <!--<a href="#" class="thumb pull-left m-r">-->
                            <!--<img src="images/avatar.jpg" class="img-circle">-->
                        <!--</a>-->
                        <!--<div class="clear">-->
                            <!--<a href="#" class="text-info">@Mike Mcalidek <i class="fa fa-twitter"></i></a>-->
                            <!--<small class="block text-muted">2,415 followers / 225 tweets</small>-->
                            <!--<a href="#" class="btn btn-xs btn-success m-t-xs">Follow</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</section>-->
            <!--</div>-->
        <!--</section>-->
    <!--</section>-->
<!--</aside>-->
</section>
</section>
</section>
</div>