<div  ng-controller="tenantctrl">
<section class="panel panel-default">
    <div class="row m-l-none m-r-none">
        <div class="col-lg-6">
            <h3 class="m-b-none">{{viewTitle}}</h3>
        </div>
        <div class="col-lg-6" ng-include="subTools">
        </div>
    </div>
</section>
<section class="vbox">
<header class="header bg-white b-b b-light">
    <p>{{selTenant.name}}</p>
</header>
<section>
<section class="hbox stretch">
<aside class="col-lg-4 bg-light lter b-r">
    <section class="vbox">
        <section>
            <div class="wrapper bg-light lter">
                <div class="clearfix m-b">
                    <a href="#" class="pull-left thumb m-r">
                        <img ng-src="{{rootUrl}}{{selTenant.logo}}" class="img-circle">
                        <mk-upload label="Change" path="app/upload/image" fnc="onTenantLogo($event)"></mk-upload>
                    </a>
                    <div class="clear">
                        <div class="h3 m-t-xs m-b-xs">{{selTenant.name}}</div>
                        <!--<small class="text-muted"><i class="fa fa-map-marker"></i>{{selTenant.dept}}</small>-->
                    </div>
                    <div class="clear">
                        <small class="text-muted"><i class="fa fa-map-marker"></i>Plugged into FUSE since {{since}}</small>
                    </div>
                </div>
                <div class="panel wrapper panel-success">
                    <div class="row">
                        <div class="col-xs-4">
                            <a href="#">
                                <span class="m-b-xs h4 block">45</span>
                                <small class="text-muted">Logins</small>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="#">
                                <span class="m-b-xs h4 block">15</span>
                                <small class="text-muted">Actions</small>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="#">
                                <span class="m-b-xs h4 block">2,035</span>
                                <small class="text-muted">Messages</small>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="wrapper">
                    <section class="panel panel-default">
                        <form>
                            <textarea class="form-control no-border" rows="3" placeholder="Quick message..."></textarea>
                        </form>
                        <footer class="panel-footer bg-light lter">
                            <button class="btn btn-info pull-right btn-sm">POST</button>
                            <ul class="nav nav-pills nav-sm">
                                <li><a href="#"><i class="fa fa-camera text-muted"></i></a></li>
                                <li><a href="#"><i class="fa fa-video-camera text-muted"></i></a></li>
                            </ul>
                        </footer>
                    </section>
                </div>
                <!--<div class="btn-group btn-group-justified m-b">-->
                    <!--<a class="btn btn-primary btn-rounded" data-toggle="button">-->
                            <!--<span class="text">-->
                              <!--<i class="fa fa-eye"></i> Follow-->
                            <!--</span>-->
                            <!--<span class="text-active">-->
                              <!--<i class="fa fa-eye-slash"></i> Following-->
                            <!--</span>-->
                    <!--</a>-->
                    <!--<a class="btn btn-dark btn-rounded" data-loading-text="Connecting">-->
                        <!--<i class="fa fa-comment-o"></i> Chat-->
                    <!--</a>-->
                <!--</div>-->
                <div>
                    <small class="text-uc text-xs text-muted">About {{selTenant.name}}</small>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat.</p>
                    <div class="line"></div>
                    <small class="text-uc text-xs text-muted">connection</small>
                    <p class="m-t-sm">
                        <a href="#" class="btn btn-rounded btn-twitter btn-icon"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="btn btn-rounded btn-facebook btn-icon"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="btn btn-rounded btn-gplus btn-icon"><i class="fa fa-google-plus"></i></a>
                    </p>
                </div>
            </div>
        </section>
    </section>
</aside>
<aside class="bg-white">
<section class="hbox stretch">
<section class="vbox">
<header class="header bg-light bg-gradient">
    <ul class="nav nav-tabs nav-white">
        <li class="active"><a href="#tenants" ng-click="loadProviders()" data-toggle="tab">Providers</a></li>
        <li class=""><a href="#apps" ng-click="loadApps()" data-toggle="tab">Applications</a></li>
        <li class=""><a href="#depts" ng-click="loadDepts()" data-toggle="tab">Departments</a></li>
        <li class=""><a href="#configs" data-toggle="tab">Settings</a></li>
    </ul>
</header>
<section class="vbox">
<div class="tab-content">
<div class="tab-pane active" id="tenants">
<mk-nest class="dd" group="1" onchangefn="onAddProvider(list)">
<ol class="dd-list list-group no-radius m-b-none m-t-n-xxs list-group-lg no-border">
<li class="dd-item list-group-item" data-id="{{$index}}" ng-repeat="t in myproviders">
    <span class="pull-right">
        <a href="#" ng-click="manageProvider(t)"><i class="fa fa-pencil icon-muted fa-fw m-r-xs"></i></a>
        <a href="#" ng-click="removeProvider(t)"><i class="fa fa-times icon-muted fa-fw"></i></a>
     </span>
    <div class="dd-handle">
        <a href="#" class="thumb-sm pull-left m-r-sm">
            <img ng-src="{{rootUrl}}{{t.logo}}" class="img-circle">
        </a>
        <a href="#" class="clear">
            <strong class="block">{{t.name}}</strong>
            <small>{{t.desc}}</small>
        </a>
    </div>
</li>
</ol>
</mk-nest>
</div>
<div class="tab-pane" id="apps">
    <div class="text-center wrapper">
        <i class="fa fa-spinner fa fa-spin fa fa-large"></i>
    </div>
</div>
<div class="tab-pane" id="depts">
    <section class="panel panel-default pos-rlt clearfix">
        <header class="panel-heading">
            <ul class="nav nav-pills pull-right">
                <li>
                    <a href="#" class="panel-toggle btn btn-default btn-sm m-b">
                        <i class="fa fa-minus icon-muted text-active"></i>
                        <i class="fa fa-plus icon-muted text"></i>Add</a>
                </li>
            </ul>New Department
        </header>
        <div class="panel-body clearfix collapse">
            <div class="form-group"><input type="text" ng-model="newDept.name" class="form-control" placeholder="Name"> </div>
            <button class="btn btn-success" ng-click="addDept()">Save</button>
        </div>
    </section>
    <ul class="list-group no-radius m-b-none m-t-n-xxs list-group-lg no-border">
        <li class="list-group-item" ng-repeat="d in selTenant.departments">
    <span class="pull-right">
        <a href="#" ng-click="removeDept(d)"><i class="fa fa-times icon-muted fa-fw"></i></a>
     </span>
            <a href="#" class="thumb-sm pull-left m-r-sm">
                <i class="fa fa-tablet"></i>
            </a>
            <a href="#" class="clear">
                <strong class="block">{{d.name}}</strong>
            </a>
        </li>
    </ul>
</div>
<div class="tab-pane" id="configs">
    <section class="vbox">
        <section>
            <div class="wrapper bg-light lter">
                <div class="clearfix m-b">
                    <a href="#" class="pull-left thumb m-r">
                        <img ng-src="{{rootUrl}}{{selTenant.userImageUrl}}" class="img-circle">
                        <mk-upload label="Change" path="app/upload/image" fnc="onUserAvatar($event)"></mk-upload>
                    </a>
                    <div class="clear">
                        <div class="h4 m-t-xs m-b-xs">Default User Avatar</div>
                        <!--<small class="text-muted"><i class="fa fa-map-marker"></i>{{selTenant.dept}}</small>-->
                    </div>
                    <div class="clear">
                        <small class="text-muted"></i>Select an image that will appear as User Avatar by default</small>
                    </div>
                </div>
                <div class="clearfix m-b">
                    <div class="row">
                    <div class="form-group col-md-3">
                    <label>Session timeout</label>
                        <div class="input-group m-b"><span class="input-group-addon"><i class="fa fa-clock-o icon"></i></span>
                            <input type="text" placeholder="Session timeout" ng-model="selTenant.sessionTimeout" class="form-control" style="text-align:right">
                            <span class="input-group-addon">hr</span>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
</div>
</section>
</section>
<aside class="bg-light lter b-r aside-md hidden-print nav-xs-right" id="accessnav">
<section class="vbox">
<header class="header bg-primary lter text-center clearfix">
    <div class="row">
        <a href="#accessnav" data-toggle="class:nav-xs" class="pull-left btn btn-sm btn-default btn-icon">
            <i class="fa fa-angle-right text"></i>
            <i class="fa fa-angle-left text-active"></i>
        </a>
        <div class="btn-group">
            <div class="btn-group hidden-nav-xs">
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                    Restricted
                </button>
            </div>
        </div>
    </div>
</header>
<section class="w-f ">
<div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">

<!-- nav -->
<nav class="nav-primary hidden-xs">
<ul class="nav">
<li  class="active">
    <a href="#layout"   class="active">
        <i class="fa fa-columns icon">
            <b class="bg-warning"></b>
        </i>
                        <span class="pull-right">
                          <i class="fa fa-angle-down text"></i>
                          <i class="fa fa-angle-up text-active"></i>
                        </span>
        <span>{{availableSection}}</span>
    </a>
    <mk-nest class="dd" group="1">
        <ol class="dd-list nav lt">
            <li class="dd-item" data-id="{{$index}}" ng-repeat="i in existingList">
                <div class="dd-handle dd3-handle">Drag</div>
                <div class="dd3-content">
                    <a href="#" class="thumb-sm pull-left m-r-sm">
                        <img ng-src="{{rootUrl}}{{i.imageUrl}}" class="img-circle">
                    </a>
                    <a href="#" >
                        <span>{{i.name}}</span>
                    </a>
                </div>
            </li>
        </ol>
    </mk-nest>
</li>
</ul>
</nav>
<!-- / nav -->
</div>
</section>
</section>
</aside>
</section>
</aside>
<!--<aside class="col-lg-4 b-l">-->
    <!--<section class="vbox">-->
        <!--<section>-->
            <!--<div class="wrapper">-->
                <!--<section class="panel panel-default">-->
                    <!--<form>-->
                        <!--<textarea class="form-control no-border" rows="3" placeholder="Quick message..."></textarea>-->
                    <!--</form>-->
                    <!--<footer class="panel-footer bg-light lter">-->
                        <!--<button class="btn btn-info pull-right btn-sm">POST</button>-->
                        <!--<ul class="nav nav-pills nav-sm">-->
                            <!--<li><a href="#"><i class="fa fa-camera text-muted"></i></a></li>-->
                            <!--<li><a href="#"><i class="fa fa-video-camera text-muted"></i></a></li>-->
                        <!--</ul>-->
                    <!--</footer>-->
                <!--</section>-->
                <!--<section class="panel panel-default">-->
                    <!--<h4 class="font-thin padder">Latest Tweets</h4>-->
                    <!--<ul class="list-group">-->
                        <!--<li class="list-group-item">-->
                            <!--<p>Wellcome <a href="#" class="text-info">@Drew Wllon</a> and play this web application template, have fun1 </p>-->
                            <!--<small class="block text-muted"><i class="fa fa-clock-o"></i> 2 minuts ago</small>-->
                        <!--</li>-->
                        <!--<li class="list-group-item">-->
                            <!--<p>Morbi nec <a href="#" class="text-info">@Jonathan George</a> nunc condimentum ipsum dolor sit amet, consectetur</p>-->
                            <!--<small class="block text-muted"><i class="fa fa-clock-o"></i> 1 hour ago</small>-->
                        <!--</li>-->
                        <!--<li class="list-group-item">-->
                            <!--<p><a href="#" class="text-info">@Josh Long</a> Vestibulum ullamcorper sodales nisi nec adipiscing elit. </p>-->
                            <!--<small class="block text-muted"><i class="fa fa-clock-o"></i> 2 hours ago</small>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</section>-->
                <!--<section class="panel clearfix bg-info lter">-->
                    <!--<div class="panel-body">-->
                        <!--<a href="#" class="thumb pull-left m-r">-->
                            <!--<img src="images/avatar.jpg" class="img-circle">-->
                        <!--</a>-->
                        <!--<div class="clear">-->
                            <!--<a href="#" class="text-info">@Mike Mcalidek <i class="fa fa-twitter"></i></a>-->
                            <!--<small class="block text-muted">2,415 followers / 225 tweets</small>-->
                            <!--<a href="#" class="btn btn-xs btn-success m-t-xs">Follow</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</section>-->
            <!--</div>-->
        <!--</section>-->
    <!--</section>-->
<!--</aside>-->
</section>
</section>
</section>
</div>