
<!-- /.aside -->
<!-- .aside -->
<aside class="bg-light lter b-l"  ng-controller="userlistctrl">
<section class="panel panel-default">
    <div class="row m-l-none m-r-none">
        <div class="col-lg-6">
            <h3 class="m-b-none">{{viewTitle}}</h3>
        </div>
        <div class="col-lg-6" ng-include="subTools">
        </div>
    </div>
</section>

<section class="vbox">
<section>
<ul class="list-group no-radius m-b-none m-t-n-xxs list-group-alt list-group-lg">
<li class="list-group-item" ng-repeat="u in userList">
    <a href="#" class="thumb-xs pull-left m-r-sm"  ng-click="openDetail(u)">
        <img ng-src="{{rootUrl}}{{u.imageUrl}}" class="img-circle">
    </a>
    <a href="#" class="clear" ng-click="openDetail(u)">
        <span class="pull-right label label-sm bg-primary text-uc">{{u.dept.name}}</span>
        <strong>{{u.fname}} {{u.lname}}</strong>
        <span>Since {{u.startDate}}</span>
    </a>
</li>
</ul>
</section>
<!--<footer class="footer b-t bg-white-only">-->
    <!--<form class="m-t-sm">-->
        <!--<div class="input-group">-->
            <!--<input type="text" class="input-sm form-control input-s-sm" placeholder="Search">-->
            <!--<div class="input-group-btn">-->
                <!--<button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->
<!--</footer>-->
</section>
</aside>
<!-- /.aside -->
<!-- .aside -->

<!-- /.aside -->
