<div ng-controller="todoctrl">
    <div class="row gradient-container">
        <div class="gradient-item clearfix">
            <div class="col-xs-4" style="padding-top:10px;">{{step.prompt}}</div>
            <div class="col-xs-3"><button class="btn btn-style1 uppercase" ng-click="next()" ng-hide="emailed">Start</button></div>
        </div>
    </div>
    <h4 class="m-t-none">{{step.title}}</h4>
    <ul class="list-group gutter list-group-lg list-group-sp">
        <li class="list-group-item box-shadow" ng-repeat="e in events">
            <a class="pull-right" style="cursor: pointer" data-dismiss="alert">
                <i class="fa fa-times icon-muted"></i>
            </a>
            <span class="pull-left media-xs">
                <i class="fa fa-sort icon-muted fa m-r-sm"></i>
                <a href="#" ng-click="done(e)">
                    <i ng-class="isDoneIcon(e)"></i>
                </a>
            </span>
            <div class="clear" ng-class="isDone(e)"><a href="#" ng-click="launchEvent(e)">{{e.title}} {{e.objdesc}}</a></div>
        </li>
    </ul>
</div>