<div class="box-6">
        <div class="box-6-inner clearfix">
            <h4 class="style4 bg2">Summary of Charges <i class="fa fa-shopping-cart pull-right"></i></h4>
            <table class="table table-striped table3" ng-show="hasproducts">
                <thead>
                <tr>
                    <!--<th><img ng-src="{{topUrl}}{{p.brandimgUrl}}" width="111" height="48"></th>-->
                    <th colspan="2">Product</th>
                    <th>One-Time</th>
                    <th>Monthly</th>
                </tr>
                </thead>
                <tbody>
                <!--<tr class="no-b" ng-repeat="p in cp">-->
                    <!--<td colspan="3"><strong style="font-size:16px;">{{p.provider}}</strong></td>-->
                <!--</tr>-->
                <tr ng-repeat="p in cp">
                    <td colspan="4">
                        <table class="table table3">
                            <tr>
                                <td><a ng-click="removeProd(p)" style="cursor: pointer"><i class="fa fa-times"></i></a>{{p.provider}}</td>
                                <td>
                                    <h5 class="style4">{{p.title}}</h5>
                                </td>
                                <td>&nbsp;</td>
                                <td class="text-right" ng-show="p.recshow">${{p.priceNow}}</td>
                            </tr>
                            <!--<tr >-->
                                <!--<td>{{p.provider}}</td>-->
                                <!--<td>{{p.title}}</td>-->
                                <!--<td>&nbsp;</td>-->
                                <!--<td class="text-right" ng-show="p.recshow">${{p.priceNow}}</td>-->
                            <!--</tr>-->
                            <tr ng-show="p.showbundles"><td colspan="4"><h5 class="style4">Premium Content</h5></td></tr>
                            <tr ng-repeat="adon in p.bundles">
                                <td>{{adon.provider}}</td>
                                <td>{{adon.title}}</td>
                                <td class="text-right"><div ng-hide="adon.oneshow">&nbsp;</div><div ng-show="adon.oneshow">${{adon.installPrice}}</div></td>
                                <td class="text-right"><div ng-hide="adon.recshow">&nbsp;</div><div ng-show="adon.recshow">${{adon.priceNow}}</div></td>
                            </tr>
                            <tr ng-show="p.showfees"><td colspan="4"><h5 class="style4">Fees</h5></td></tr>
                            <tr ng-repeat="f in p.fees">
                                <td colspan="2">{{f.title}}</td>

                                <td class="text-right"><div ng-hide="f.oneshow">&nbsp;</div><div ng-show="f.oneshow">${{f.installPrice}}</div></td>
                                <td class="text-right"><div ng-hide="f.recshow">&nbsp;</div><div ng-show="f.recshow">${{f.priceNow}}</div></td>
                            </tr>
                            <tr ng-show="p.showrebs"><td colspan="4"><h5 class="style4">Rebates</h5></td></tr>
                            <tr ng-repeat="r in p.rebates">
                                <td colspan="2">{{r.title}}</td>
                                <td class="text-right"><div ng-hide="r.oneshow">&nbsp;</div><div ng-show="r.oneshow">-{{r.installPrice}}</div></td>
                                <td class="text-right"><div ng-hide="r.recshow">&nbsp;</div><div ng-show="r.recshow">-{{r.priceNow}}</div></td>
                            </tr>

                        </table>
                    </td>
                </tr>



                <!--<tr ng-repeat="p in cp">-->
                    <!--<td>Rebate</td>-->
                    <!--<td>&nbsp;</td>-->
                    <!--<td class="text-right"><div class="txt1">[${{p.rebate}}]</div></td>-->
                <!--</tr>-->

                <tr class="danger">
                    <td colspan="4"><div class="links1"><a href="#"><i class="icon-plus-sign"></i>&nbsp; Totals</a> &nbsp;&nbsp;&nbsp;</div></td>
                </tr>

                <tr class="no-b">
                    <td><strong>Due today</strong></td>
                    <td>&nbsp;</td>
                    <td class="text-right"><div class="txt1"><strong>${{carttotal.once}}</strong></div></td>
                    <td>&nbsp;</td>
                </tr>

                <tr >
                    <td><strong>Total Monthly</strong></td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="text-right"><div class="txt1"><strong>${{carttotal.rec}}</strong></div></td>
                </tr>

                </tbody>
            </table>
        </div><!-- /box-6-inner -->
    </div><!-- /box-6 -->
