body { padding:0; font-size:14px; line-height:22px; color:#6a7579; font-family:Arial, Helvetica, sans-serif; background:#233239; }

.ui-datepicker-trigger { float:left; vertical-align:top; margin:6px 0 0 8px; cursor:pointer; }
.datepicker { float:left; width:80%; } 

.fontsize10 { font-size:10px; line-height:13px!important; }
.fontsize11 { font-size:11px; line-height:17px; }
.fontsize12 { font-size:12px; }
.fontsize14 { font-size:14px; line-height:20px; }

.uppercase { text-transform:uppercase; }

.img-rounded { border:1px solid #000; }

p { margin-bottom:20px; }

.color1 { color:#4fb5d2; }
.color2 { color:#0e5ca4; }
.color3 { color:#d0d0d0; }

.help-block { font-size:10px; line-height:13px; }
.help-block.bg1 { 
	padding:8px 14px;
	background:#f2f2f2; 
	-webkit-border-radius: 6px;
	border-radius: 6px; 
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 
a { color:#008aad; text-decoration:underline; }
a:hover { color:#008aad; text-decoration:none; }
a:active, a:focus { outline:none; } 
a i,
.btn-group a,
.btn { text-decoration:none!important; }
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
h2.style1 {
	float:right;
	padding:24px 96px 28px 0;
	margin:0;
	font-size:22px;
	line-height:30px;
	color:#a1a1a1;
	font-family:'Open Sans', Arial, serif; 
	font-weight:400; 
}
h2.style1.icon1 {
	background:url(../img/h2-icon1.png) 100% 0 no-repeat;
}
h2.style1.icon2 {
	background:url(../img/h2-icon2.png) 100% 0 no-repeat;
}
h2.style1.icon3 {
	background:url(../img/h2-icon3.png) 100% 0 no-repeat;
}
h2.style1.icon4 {
	background:url(../img/h2-icon4.png) 100% 0 no-repeat;
}
h2.style1.icon5 {
	background:url(../img/h2-icon5.png) 100% 0 no-repeat;
}
h2.style1.icon6 {
	background:url(../img/h2-icon6.png) 100% 0 no-repeat;
}

h3.style1 {
	padding:0 0 20px 36px;
	margin:0;
	font-size:23px;
	line-height:30px;
	color:#233239;
	font-family:'Open Sans', Arial, serif; 
	font-weight:400; 
}
h3.style1.icon1 {
	background:url(../img/h3-icon1.png) 0 3px no-repeat;
}
h3.style1.icon2 {
	background:url(../img/h3-icon2.png) 0 2px no-repeat;
}
h3.style1.icon3 {
	background:url(../img/h3-icon3.png) 0 2px no-repeat;
}

h3.style2 { 
	padding:0;
	margin:0 0 30px 0;	
	font-size:17px;
	line-height:20px;	
	color:#233239;
	text-transform:uppercase; 
	font-family:'Open Sans', Arial, serif; 
	font-weight:700; 
	text-align:center;
	border-bottom:1px solid #d7d7d7;
}
h3.style2 span {
	position:relative;
	top:10px;
	background:#fff;
	padding:0 20px;
}
h3.style3 { 
	padding:0 15px 20px;
	margin:0 0 30px 0;	
	font-size:15px;
	line-height:24px;	
	color:#7e7e7e;
	font-family:'Open Sans', Arial, serif; 
	font-weight:400; 
	text-align:center;
	 
}
h3.style3 span {
	font-size:30px;
	line-height:40px;
	color:#33b3d3;
	font-weight:700; 
}
h3.style4 { 
	color: #7E7E7E;
    font-family: 'Open Sans',Arial,serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding: 0 15px 20px;
 	 
}
h3.style4 span {
	color: #33B3D3;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}
h3.style4 span span {
	font-weight:700; 
}
h3.style5 { 
	padding:0;
	margin:0 0 15px 0;	
	font-size:18px;
	line-height:24px;	
	color:#363636;
	font-family:'Open Sans', Arial, serif; 
	font-weight:400; 
}
h3.style5 span.i1 {
	font-size:30px;
	line-height:34px;
	color:#4fb5d2;
	font-weight:700; 
}
h3.style5 span.i1 span {
	font-size:14px;
	color:#8dc63f;
	text-transform:uppercase;
}
h3.style5 span.i2 {
	font-weight:700; 
}

h4.style1 {
	padding:0;
	margin:0 0 15px 0;
	font-size:18px;
	line-height:24px;
	color:#687277;
	font-family:'Open Sans', Arial, serif; 
	font-weight:400; 
}
h4.style2 {
	padding:0;
	margin:0;
	font-size:19px;
	line-height:24px;
	color:#363636;
	font-family:'Open Sans', Arial, serif; 
	font-weight:400; 
}
h4.style3 {
	background: none repeat scroll 0 0 #33B3D3;
    color: #FFFFFF;
    font-family: 'Open Sans',Arial,serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 10px 20px;
}
h4.style4 {
	padding:10px 14px;
	margin:0 0 14px 0;
	color:#fff;	
	font-size:18px;
	line-height:26px;
	font-family:'Open Sans', Arial, serif; 
	font-weight:bold;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
}
h4.style4.bg1 {
	background:#33b3d3;
}
h4.style4.bg2 {
	background:#7e7e7e;
}
h4.style4 i {
	font-size:22px;
	line-height:30px;
}

h5.style1 {
	margin: 0;
    color: #333333;
    font-size: 14px;
	line-height: 24px;
    font-weight: bold;        
	text-transform:uppercase;
}
h5.style2 {
	padding:0;
	margin: 0;
    color: #898989;
    font-size: 11px;
	line-height: 16px;
    font-family:'Open Sans', Arial, serif; 
	font-weight:300;
}
h5.style2 span {
	font-size:18px;
	line-height:22px;
	color:#33b3d3;
	font-weight:400;
}
h5.style3 {
	padding:0;
	margin: 0 0 20px 0;
    color: #909090;
    font-size: 14px;
	line-height: 22px;    
}
h5.style3 span {
	color:#33b3d3;
	font-size:18px;
	line-height:26px;
	font-family:'Open Sans', Arial, serif; 
	font-weight:700;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 
.separator { width:100%; height:0px; clear:both; padding:0; margin:0; border: none; line-height: 0px; font-size: 0; overflow: hidden; }
.separator hr { display:none; }
.s1 { height:1px; margin:24px 0; background:#d8d8d8; }
.s2 { height:2px; margin:10px 0 30px 0; background:url(../img/separator2.png) 0 0 repeat-x; }
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 
.clearer { height:0px; clear:both; padding:0; margin:0; border: none; line-height: 0px; font-size: 0; }
.h10 { height:10px; }
.h20 { height:20px; }
.h30 { height:30px; }
.h40 { height:40px; }
.h50 { height:50px; }
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 
.mb0 { margin-bottom:0!important; }
.mb10 { margin-bottom:10px; }
.mb15 { margin-bottom:15px; }
.mt20 { margin-top:20px; }
.mt40 { margin-top:40px; }
.mb20 { margin-bottom:20px; }
.mb30 { margin-bottom:30px; }
.mt0 { margin-top:0!important; }
.mt6 { margin-top:6px!important; }
.mt10 { margin-top:10px!important; }
.mlr0 { margin-left: 0px!important; margin-right: 0px!important; }
.pt0 { padding-top:0px!important; }
.pt10 { padding-top:10px; }
.radius-bottom { border-radius:  0px 0px 6px 6px !important; -webkit-border-radius:  0px 0px 6px 6px !important; }


/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 



/* CONTAINER */
.wrap-container {
	overflow:hidden;	
}

.container,
.navbar .container { 
	max-width:960px; 
}
.container.width650 {
	max-width:650px;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* HEADER */
header {	
	border-bottom:4px solid #eeeeee;
	background:#fff;
}
header .container-content {	
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* HEADER - CONTENT */
header .content1 { 	
	text-align:center; 
	border-bottom:1px solid #e1e1e1; 
	background:#33b3d3; 
	overflow:hidden; 
}
header .content1 .btn-1 {
	float:right;
	padding:4px 0 0 0;
}
header .content1 .btn-1 a {
	font-size:14px;
	line-height:18px;
	text-decoration:none;
	color:#a5deec;
	font-family:'Open Sans', Arial, serif; 
	font-weight:400; 
}
header .content1 .btn-1 a:hover {
	color:#fff;
}
header .content1 .btn-1 i {
	font-size:20px;
	line-height:20px;	
}
header .content2 { 	
	padding:20px 0px;
}
header ul.social-list { 
	float:left;
	margin:0; 
	padding:0; 
	list-style:none; 
	display:inline-block; 
	overflow:hidden; 
}
header ul.social-list li { 
	float:left; 
	border-right:1px solid #e1e1e1;
	padding:0;
	/* For IE, the outcast */
    zoom:1;
    *display: inline;	
}
header ul.social-list li.last {
	border-right:0;
}
header ul.social-list li a {  
	float:left;		
	width:30px;
	height:30px;
	font-size:16px;
	line-height:30px;
	color:#fff;
	text-align:center;
	text-decoration:none;
} 
header ul.social-list li a:hover {
	background:#5b6178;
}

header .brand { 
	float:left; 
	margin:6px 0 0 0;
	width:187px; 
	overflow:hidden; 
}
header .brand a { 
	float:left; 
	width:100%; 
	height:55px; 
	text-indent:-999em; 
	text-transform:uppercase; 
	background:url(../img/logo.png) 0 0 no-repeat; 
	overflow:hidden;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */




/* CONTENT */
.main-content {  
	padding:30px 0 50px 0;
	background:#f6f6f6;	
}
.main-content .container {
	border:1px solid #d9d9d9;
	background:#fff;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
}
.main-content .container.nobg {
	border:0;
	background:none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.main-content .container-content.v1 {
	background:#fff;
}
.main-content .container-content.v2 {
	padding:30px 20px 40px 20px;
	background: rgb(236,236,236);
	background: -moz-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(255,255,255,1) 51%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,236,236,1)), color-stop(51%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(236,236,236,1) 0%,rgba(255,255,255,1) 51%);
	background: -o-linear-gradient(top, rgba(236,236,236,1) 0%,rgba(255,255,255,1) 51%);
	background: -ms-linear-gradient(top, rgba(236,236,236,1) 0%,rgba(255,255,255,1) 51%);
	background: linear-gradient(to bottom, rgba(236,236,236,1) 0%,rgba(255,255,255,1) 51%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#ffffff',GradientType=0 );	
}
.main-content .container-content.v3 {
	padding:30px;
	background:#fff;
}
.main-content.style1 {  
	background:#f6f6f6 url(../img/slide1-bg.jpg) 50% 0 no-repeat;
}
.main-content.style1 .container {
	border:0;
	background:none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* BOX 1 */
.box-1 {
	
}
.box-1.v1 {
	background:url(../img/box-1-v1.jpg) 50% 100% no-repeat;
}
.box-1.v2 {
	background:url(../img/box-1-v2.jpg) 50% 100% no-repeat;
}
.box-1.v3 {
	height:401px;
	background:url(../img/box-1-v3.jpg) 0% 0% no-repeat;
}

.box-1 .box1 {
	height:300px;		
}
.box-1.v1 .box1 {
	background:url(../img/box-1-box1-v1.png) 0 100px no-repeat;
}
.box-1.v2 .box1 {
	background:url(../img/box-1-box1-v2.png) 0 100px no-repeat;
}

.box-1 .box1 .inner {
	padding:20px 0 0 40px;
}
.box-1 .box1 h3 {
	padding:0;
	margin:0 0 60px 0;
	font-size:32px;
	line-height:38px;
	color:#919191;
	text-transform:uppercase;
	font-family:'Open Sans', Arial, serif; 
	font-weight:400; 
}
.box-1 .box1 h3 span {
	font-size:28px;
	color:#04aeda;
	font-weight:700;
}
.box-1 .box1 .bullet-3 {
	padding-left:100px;
}

.box-1 .box2 {
	float:right;
	margin-right:30px;
	margin-top:30px;
	background:#ececec;
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px; 
}
.box-1 .box2 .inner {
	
}
.box-1 .box2.v3 {
	height:307px;
	overflow:hidden;
}
.box-1 .box2.v1 .inner {
	padding:20px 20px 20px 20px;
}
.box-1 .box2.v2 .inner {
	padding:30px 20px 50px 20px;	
}
.box-1 .box2.v3 .inner {
	padding:30px 20px 50px 20px;	
}
.box-1 .box2 h4 {
	padding:0;
	margin:0 0 20px 0;
	font-size:16px;
	line-height:24px;
	color:#233239;
	text-transform:uppercase;
	text-align:center;
	font-family:'Open Sans', Arial, serif; 
	font-weight:700; 
}

.box-1 .box3 {
	color:#fff;
}
.box-1 .box3 .inner {
	padding:18px 0 0 20px;
}
.box-1 .box3 h3 {
	padding:0;
	margin:0 0 10px 0;
	font-size:26px;
	line-height:38px;
	color:#fff;
	text-transform:uppercase;
	font-family:'Open Sans', Arial, serif; 
	font-weight:400; 
}
.box-1 .box3 h3 span {
	font-size:32px;
	font-weight:700;
}
.box-1 .box3 .bullet-3 {
	padding-left:100px;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 

.btn-primary{ 
	transition: background .45s ease-in-out;
   -moz-transition: background .45s ease-in-out;
   -webkit-transition: background .45s ease-in-out;
}

/* BOX 2 */
.box-2 {
	border:1px solid #cccccc;
	background:#f5f5f5;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
	 transition: background .45s ease-in-out;
   -moz-transition: background .45s ease-in-out;
   -webkit-transition: background .45s ease-in-out;
}
.box-2 .inner {
	padding:16px 16px;
}
.box-2.height1 {
	min-height:160px;
}
.box-2.height2 {
	min-height:140px;
}
.box-2.height3 {
	min-height:200px;
}
.box-2.height4 {
	min-height:260px;
}
.box-2:hover {
	background:#ebfcff;
	border-color:#4fb5d2;
}
.box-2 h4 {
	padding:0;
	margin:0 0 16px 0;
	font-size:15px;
	line-height:20px;
	color:#555555;
	font-weight:normal;
}
.box-2 .txt-desc1 {
	float:left;
}
.box-2 .txt-desc1 h4 {
	
}
.box-2 .txt-desc2 {
	float:right;
	padding:10px 0 0 0;
}
.box-2 h4.icon {
	padding:16px 0 16px 100px;
	margin:0;
}
.box-2 h4.icon.icon1 {
	background:url(../img/icon-billing-1.png) 0 0 no-repeat;
}
.box-2 h4.icon.icon2 {
	background:url(../img/icon-billing-2.png) 0 0 no-repeat;
}
.box-2 h4.icon.icon3 {
	background:url(../img/icon-billing-3.png) 0 0 no-repeat;
}
.box-2 h4.icon.icon4 {
	background:url(../img/icon-billing-4.png) 0 0 no-repeat;
}
.box-2 h4.icon.icon5 {
	background:url(../img/icon-billing-5.png) 0 0 no-repeat;
}
.box-2 h4.icon.icon6 {
	background:url(../img/icon-billing-6.png) 0 0 no-repeat;
}
.box-2 h4.icon.icon7 {
	background:url(../img/icon-billing-7.png) 0 0 no-repeat;
}
.box-2 h4.icon.icon8 {
	background:url(../img/icon-billing-8.png) 10px 0 no-repeat;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* BOX 3 */
.box-3 {
	border:1px solid #e1e1e1;
	background:#fff;
}
.box-3 .inner {
	padding:16px 14px;
}
.box-3 h4 {
	padding:12px 20px;
	margin:0;
	font-size:16px;
	line-height:20px;
	color:#fff;
	font-family:'Open Sans', Arial, serif; 
	font-weight:400; 
	background:#33b3d3;
	overflow:hidden;
}
.box-3 h4 i {
	font-size:20px;
	line-height:20px;
}
.box-3 ul.desc1-list {
	padding:0;
	margin:0;
	list-style:none;
}
.box-3 ul.desc1-list li {
	font-size:12px;
	line-height:16px;
	margin:0 0 16px 0;
}
.box-3 ul.desc1-list li.last {
	margin:0;
}
.box-3 ul.desc1-list li h5 {
	padding:0 0 6px 0;
	margin:0 0 10px 0;
	font-size:16px;
	line-height:20px;
	color:#6a6a6a;
	font-weight:bold; 
	border-bottom:1px solid #d3d3d3;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* BOX 4 */
.box-4 {
}
.box-4 .inner {
}
.box-4 h3 {
	
}
.box-4 .logos {
	float:right;
	padding-top:20px;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* BOX 5 */
.box-5 {
	border:1px solid #cfd5d6;
	background:#c0cccc;
	padding: 8px 8px 0;
	margin: 20px 0;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
}

.box-5.popular{ color: #FFFFFF;
    font-size: 12px;
    line-height: 12px;
	background:#8DC63F;
 	
}
.box-5.popular h6{ color: #FFFFFF;}
.box-5 h6{text-align:center; text-transform: uppercase; color:#c0cccc; font-weight: bold;}

.box-5 .inner {
	padding:14px 14px 30px;
	background:#f9f9f9;
}
.box-5 h4 {
	padding:12px 20px;
	margin:0;
	font-size:16px;
	line-height:24px;
	color:#6a6a6a;
	font-weight:normal;
	border-bottom:1px solid #dededf;
	background: rgb(244,244,244);
	background: -moz-linear-gradient(top, rgba(244,244,244,1) 0%, rgba(246,246,246,1) 50%, rgba(224,224,224,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(50%,rgba(246,246,246,1)), color-stop(100%,rgba(224,224,224,1)));
	background: -webkit-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(246,246,246,1) 50%,rgba(224,224,224,1) 100%);
	background: -o-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(246,246,246,1) 50%,rgba(224,224,224,1) 100%);
	background: -ms-linear-gradient(top, rgba(244,244,244,1) 0%,rgba(246,246,246,1) 50%,rgba(224,224,224,1) 100%);
	background: linear-gradient(to bottom, rgba(244,244,244,1) 0%,rgba(246,246,246,1) 50%,rgba(224,224,224,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e0e0e0',GradientType=0 );
}
.box-5 ul.desc1-list {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    box-shadow: 0 3px 3px #DDDDDD; -webkit-box-shadow: 0 3px 3px #DDDDDD;
    list-style: none outside none;
    margin: -15px -14px 20px;
    padding: 15px;
}
.box-5 ul.desc1-list li {
	font-size:12px;
	line-height:16px;
	margin:0 0 6px 0;
	padding:10px 0 10px 60px;
	color:#92979a;
}
.box-5 ul.desc1-list li.last {
	margin:0;
}
.box-5 ul.desc1-list li.ico-tv {
	background:url(../img/ico-tv-1.png) 0 0 no-repeat;
}
.box-5 ul.desc1-list li.ico-internet {
	background:url(../img/ico-internet-1.png) 0 0 no-repeat;
}
.box-5 ul.desc1-list li.ico-phone {
	background:url(../img/ico-phone-1.png) 0 0 no-repeat;
}
.box-5 ul.desc1-list li .title1 {
	font-size:14px;
	color:#BB0000;
}
.box-5 ul.desc1-list li a.link1 {
	color:#000;
}
.box-5 ul.desc2-list {
	padding:0 0 10px 0;
	margin:0 0 20px 0;
	list-style:none;
	border-bottom:3px solid #f0f0f0;
}
.box-5 ul.desc2-list li {
	font-size:14px;
	line-height:20px;
	margin:0 0 6px 10px;
	padding:0 0 0 12px;
	background:url(../img/bullet-3.png) 0 8px no-repeat;
	color:#233239;
}
.box-5 ul.desc2-list li.first {
	background:none;
	padding:0;
	margin:0;
}
.box-5 ul.desc2-list li.last {
	margin-bottom:0;
}
.box-5 ul.desc2-list li h5 {
	padding:0 0 4px 0;
	margin:0 0 10px 0;
	font-size:14px;
	line-height:20px;
	color:#000;
	font-weight:bold;
	text-transform:uppercase;
	border-bottom:3px solid #f0f0f0;
}
.box-5 .old-price {
	text-decoration:line-through;
	text-align:center;
	font-size:22px;
	line-height:28px;
	color:#8398a1;
	font-family:'Open Sans', Arial, serif; 
	font-weight:300;
	margin-bottom:10px; 
}
.box-5 .new-price {
	text-align:center;
	font-size:11px;
	line-height:16px;
	color:#233239;
	font-family:'Open Sans', Arial, serif; 
	font-weight:300; 
	margin-bottom:30px;
}
.box-5 .new-price span {
	font-size:41px;
	line-height:38px;
	font-weight:700; 
}
.box-5 .new-price span sup { 
	font-size:15px;
	line-height:40px;
	vertical-align:top;
}
.box-5 .btn-view-details a{
	font-size: 10px;
    line-height: 12px;
    padding: 0 0 0 10px;
	color:#fff;
	text-decoration:none;
}
 
.box-5 .btn-view-details a:hover {
	
	text-decoration:underline;
}
.box-5 .btn-primary {background:#F6C925; color:#474747;  font-weight: bold; text-shadow: none; text-transform: none; width:70%; text-shadow: 0 1px 0 rgba(244, 244, 244, 0.7);}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* BOX 6 */
.box-6 {
	background:#fff;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
}
.box-6-inner {
	padding:14px;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* BOX 7 */
.box-7 {
	background:#f2f2f2;
	margin:0 0 14px 0;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
}
.box-7 .inner {
	padding:12px 14px 8px 14px;
}
.box-7 h5 {
	padding:0;
	margin:0 0 14px 0;
	color:#000000;
	font-size:18px;
	line-height:24px;
	font-weight:bold;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* BOX 8 */
.box-8 {	
	border:1px solid #d6d6d6;
	background: #e2e2e2;
}
.box-8-inner {
	padding:20px 10px;
}
.box-8.style2 {	
	border-bottom:2px solid #3bc0dc;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* BOX 9 */
.box-9 {
	background:#bfcccc;
	padding:6px;
}
.box-9 .inner {
	padding:14px 14px;
	background:#fff;
}
.box-9 h4 {
	padding:0;
	margin:0 0 10px 0;
	font-size:14px;
	line-height:20px;
	color:#010000;
	font-family:'Open Sans', Arial, serif; 
	font-weight:700;
	text-align:center;
}
.box-9 .icons1 {
	height:70px;
	text-align:center;
}
.box-9 .icons1 img {
	vertical-align:middle;
	padding:0 5px;
}
.box-9 ul.desc1-list {
	padding:0;
	margin:0;
	list-style:none;
}
.box-9 ul.desc1-list li {
	font-size:14px;
	line-height:20px;
	color:#666666;
	margin:0 0 4px 0;
	padding:0 0 0 18px;
	background:url(../img/bullet-2.png) 0 5px no-repeat;
}
.box-9 ul.desc1-list li:last-child {
	margin:0;
}
.box-9 ul.desc1-list li a.link1 {
	color:#0998d7;
	font-size:11px;
}
.box-9 .ico-dollar { 
	padding:0;
	margin:0 0 26px 0;	
	font-size:18px;
	line-height:24px;	
	color:#97adb8;
	text-transform:uppercase; 
	font-family:'Open Sans', Arial, sans-serif;
	font-weight:600;
	text-align:center;
	border-bottom:3px solid #f0f0f0;
}
.box-9 .ico-dollar span {
	position:relative;
	top:12px;
	background:#f0f0f0;
	padding:0 10px;
	-webkit-border-radius: 14px;
	border-radius: 14px; 
}
.box-9 ul.desc2-list {
	padding:0;
	margin:0 0 15px 0;
	list-style:none;
}
.box-9 ul.desc2-list li {
	font-size:14px;
	line-height:20px;
	margin:0 0 6px 10px;
	padding:0 0 0 12px;
	background:url(../img/bullet-3.png) 0 8px no-repeat;
	color:#233239;
}
.box-9 ul.desc2-list li:last-child {
	margin-bottom:0;
}
.box-9 .new-price {
	text-align:center;
	font-size:11px;
	line-height:14px;
	color:#233239;
	font-family:'Open Sans', Arial, serif; 
	font-weight:300; 
	margin-bottom:10px;
	background:#e9f9ff;
	border-top:1px solid #e5eaea;
}
.box-9 .new-price div {
	padding:10px 14px;
}
.box-9 .new-price span {
	float:left;
	display:block;
	padding:0 1px;
}
.box-9 .new-price span.i1 {
	font-size:41px;
	line-height:38px;
	font-weight:700; 
}
.box-9 .new-price span.i1 sup { 
	font-size:15px;
	line-height:40px;
	vertical-align:top;
}
.box-9 .new-price span.i2 {
	padding-top:4px;
}
.box-9 .new-price span.i2 span {
	float:none;
	color:#6e7e84;
}
.box-9 .btn-view-details {
	text-align:right;
}
.box-9 .btn-view-details a {
	font-size: 11px;
    line-height:14px;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
} 
.box-9 .btn-view-details a:hover {
	
	text-decoration:underline;
}
.box-9 .btn-primary {}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* BOX 10 */
.box-10 {	
	margin-top:50px;
	border:1px solid #d9d9d9;
	background: #fff;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.box-10 .inner {
	padding:20px 20px;
}
.box-10 h3 {
	height:90px;
	padding:0 20px;
	margin:0 0 12px 0;
	font-size:24px;
	line-height:26px;
	color:#fff;
	font-family:'Open Sans', Arial, serif; 
	font-weight:400;
	background:#485054;
	overflow:hidden;
}
.box-10 h3 span {
	display:block;
	padding:20px 0 20px 0;
}
.box-10 h3.ico-tv span {
	padding-left:80px;
	background:url(../img/ico-tv-2.png) 0 50% no-repeat;
}
.box-10 h3.ico-internet span {
	padding-left:90px;
	background:url(../img/ico-internet-2.png) 0 50% no-repeat;
}
.box-10 h3.ico-bundle span {
	padding-left:100px;
	background:url(../img/ico-bundle-1.png) 0 50% no-repeat;
}
.box-10 .price {
	padding:0 0 12px 0;
	border-bottom:1px solid #e3e3e3;
	overflow:hidden;
}
.box-10 h4 { width:174px; margin:0px auto; padding:0; color:#233239; font-size:12px; line-height:18px; font-family:'Open Sans', Arial, serif; font-weight:300; overflow:hidden; }
.box-10 h4 span { display:block; float:left; position:relative; padding:0 1px; }
.box-10 h4 span.i1 { float:none; line-height:14px; }
.box-10 h4 span.i2 { clear:both; font-size:30px; line-height:36px; font-weight:700; }
.box-10 h4 span.i3 { font-size:60px; line-height:56px; font-weight:700; }
.box-10 h4 span.i4 { font-size:12px; line-height:16px; }
.box-10 h4 span.i4 span { float:none; font-size:35px; line-height:35px; font-weight:700; }
.box-10 h5 {
	text-align:center;
	padding:0;
	margin:0 0 12px 0;
	font-size:14px;
	line-height:34px;
	color:#fff;
	font-family:'Open Sans', Arial, serif; 
	font-weight:700;
	text-transform:uppercase;
	background:#258bb0;
	overflow:hidden;
}
.box-10 .visa {
	padding:8px 10px;
	margin:10px 10px 0 10px;
	background:#00b7d5;
	-webkit-border-radius: 8px;
	border-radius: 8px; 
	overflow:hidden;
}
.box-10 h6 { padding:0 0 0 16px; margin:0; color:#fff; font-size:10px; line-height:13px; font-weight:normal; }
.box-10 h6 span { display:block; float:left; position:relative; padding:0 3px; }
.box-10 h6 span.i1 { text-transform:uppercase; }
.box-10 h6 span.i1 span { float:none; padding:0; font-size:25px; line-height:23px; font-weight:bold; }
.box-10 h6 span.i2 { padding-top:9px; }
.box-10 h6 span.i2 span { float:none; padding:0; font-size:15px; line-height:15px; font-weight:bold; }
.box-10 h6 span.i2 span sup { font-size:10px; line-height:15px; vertical-align:top; }
.box-10 h6 span.i3 {  }
.box-10 ul.desc1-list {
	padding:0;
	margin:0 0 20px 0;
	list-style:none;
	font-family:'Open Sans', Arial, serif; 
	font-weight:400;
}
.box-10 ul.desc1-list li {
	font-size:16px;
	line-height:22px;
	color:#3c3c3c;
	margin:0 0 12px 0;
	padding:0 0 12px 18px;
	background:url(../img/bullet-6.png) 0 5px no-repeat;
	border-bottom:1px solid #e3e3e3;
}
.box-10 ul.desc1-list li:last-child {
	margin:0;
}

.box-10.blue {	
	margin-top:0px;
	border:2px solid #00b7d5;
	background: #fff;
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
}
.box-10.blue .inner {
	padding:20px 14px;
}
.box-10.blue h3 {
	background: #00b7d5;
	margin-bottom:0;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* BOX 11 */
.box-11 {  }
.box-11 .inner { padding:0px 20px; }
.box-11 h3 { padding:0; margin:0 0 20px 0; color:#4d4d4d; font-size:14px; line-height:20px; font-weight:normal; }
.box-11 h3 strong { font-size:23px; line-height:30px; text-shadow: 1px 1px 0px #ffffff; }
.box-11 ul.list1 { padding:0 210px; margin:0; list-style:none; }
.box-11 ul.list1 li { display:block; margin:0 0 6px 0; padding:2px 14px; background:#fff; -webkit-border-radius: 4px; border-radius: 4px; }
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* BOX 12 */
.box-12 {	
	padding:20px 60px;
	background: #fff;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
.txt-secure2 {
	float:left;
	padding:1px 0 1px 20px;
	font-size:12px;
	line-height:16px;
	text-transform:uppercase;
	color:#a7a7a7;
	background:url(../img/ico-secure.png) 0 0 no-repeat;
}
.secure-logos img {
	vertical-align:top;
	padding-right:14px;
}
.txt-address4 {
	position:relative;
	float:right;
	bottom:-14px;
	font-size:12px;
	line-height:20px;
	color:#818181;
	margin: 0 20px;
}
.txt-address4 i {
	color:#a2bbc8;
}
.txt-cancel-continue1 {
	text-align:right;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */



/* FORMS */
.form1 {
	font-size:13px;
	color:#696969;
}
.form1 div {
	padding-left:4px;
	padding-right:4px;
}
.form1 .radio, 
.form1 .checkbox {
	padding-left: 20px;
	padding-right:0;
}
.form1 .label1 {
	display:block;
	padding:6px 0 0 0;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 





/* FOOTER */
footer
{ 
	font-size:12px;
	line-height:18px;
	margin:0;
	padding:20px 0 30px 0;
	color:#aaaaaa;
	background: #233239;
}
footer .container-content {	
}

footer .botNav { 
	float:left; 	
}
footer .botNav a { 
	color:#aaaaaa; 
	text-decoration:none; 
}
footer .botNav a:hover {	
	text-decoration:underline; 
}

footer .copyright { 
	float:right; 
	text-align:right;
}
footer .copyright span.title {
	font-size:14px;
	text-transform:uppercase;
}
footer .copyright span.powered {
	font-size:10px;
	color:#697174;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 




/* LISTS */
.bullet-1 { padding:0; margin:0; list-style:none; }
.bullet-1 li { padding:0 0 0 14px; margin:0; background:url(../img/bullet-1.png) 0 8px no-repeat; }
.bullet-1 li.last,
.bullet-1 li:last-child { padding-bottom:0; margin-bottom:0; border-bottom:0; }

.bullet-3 { padding:0; margin:0; list-style:none; }
.bullet-3 li { padding:0 0 0 18px; margin:0; color:#737373; font-size:24px; line-height:34px; background:url(../img/bullet-4.png) 0 12px no-repeat; font-family:'Open Sans', Arial, serif; font-weight:700; }
.bullet-3 li.last,
.bullet-3 li:last-child { padding-bottom:0; margin-bottom:0; border-bottom:0; }

.bullet-4 { padding:0; margin:0; list-style:none; }
.bullet-4 li { float:left; padding:0 22px 0 16px; margin:0; font-size:14px; line-height:20px; background:url(../img/bullet-5.png) 0 5px no-repeat; font-family:'Open Sans', Arial, serif; font-weight:400; }
.bullet-4 li.last,
.bullet-4 li:last-child { padding-right:0; margin-bottom:0; }

ul.offers1-list { padding:0; margin:0; list-style:none; }
ul.offers1-list li { float:left; width:100%; margin:10px 0; }
ul.offers1-list li h5 { padding:0; margin:0 0 10px 0; font-size:18px; line-height:24px; color:#333333; font-weight:bold; }
ul.offers1-list li .thumb { float:left; margin:0 20px 0 0; }
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 


/* FORMS */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-size: 13px;  
  font-family:Arial, Helvetica, sans-serif;
  margin-bottom:10px;
  color:#000;
  background: #eaeaea;
  background: -moz-linear-gradient(top, #eaeaea 0%, #fefefe 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#fefefe));
  background: -webkit-linear-gradient(top, #eaeaea 0%,#fefefe 100%);
  background: -o-linear-gradient(top, #eaeaea 0%,#fefefe 100%);
  background: -ms-linear-gradient(top, #eaeaea 0%,#fefefe 100%);
  background: linear-gradient(to bottom, #eaeaea 0%,#fefefe 100%);
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#fefefe',GradientType=0 );*/
  -webkit-box-shadow: inset 1px 1px 2px 2px rgba(189, 189, 189, 0.3);
  box-shadow: inset 1px 1px 2px 2px rgba(189, 189, 189, 0.3); 
}
.form-control {
	font-size:13px;
}
.form-control::-moz-placeholder {  
	color: #000;
}
select.form-control {
	padding-left:6px;
	padding-right:6px;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 
.navigation-list .thumbnail {
    padding:0px;
	margin:10px 0;
    line-height:normal;	
    background: rgb(255,255,255);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 51%, rgba(243,243,243,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(51%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 51%,rgba(243,243,243,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 51%,rgba(243,243,243,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 51%,rgba(243,243,243,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 51%,rgba(243,243,243,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
  	border: 1px solid #d9d9d9;
 	border-radius: 0px;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.navigation-list .thumbnail.completed {opacity:.5}
.navigation-list .thumbnail div.caption {
	padding:14px 10px 0px 10px;
    color: #333333;
	min-height:170px;
	text-align:center;
}
.navigation-list .thumbnail h3 {
	padding:0;
	margin:0 0 10px 0;
	font-size:16px;
	line-height:24px;
	color:#474747;
	text-transform:uppercase;
	font-family:'Open Sans', Arial, serif; 
	font-weight:700; 
}
.navigation-list .thumbnail h4 {
	padding:0;
	margin:0 0 10px 0;
	font-size:14px;
	line-height:20px;
	color:#666666;
	font-family:'Open Sans', Arial, serif; 
	font-weight:400; 
}
.navigation-list .thumbnail h5 {
	clear:both;
	padding:10px 0 0 0;
	margin:0;
	text-align:right;
	font-size:9px;
	line-height:12px;
	color:#a1a1a1;
	font-family:'Open Sans', Arial, serif; 
	font-weight:400; 
}
.navigation-list .thumbnail.i1 div.caption {
	background:url(../img/ico1-nav-list.png) 0 100% no-repeat;
}
.navigation-list .thumbnail.i2 div.caption {
	background:url(../img/ico2-nav-list.png) 0 100% no-repeat;
}
.navigation-list .thumbnail.i3 div.caption {
	background:url(../img/ico3-nav-list.png) 4px 100% no-repeat;
}
.navigation-list .thumbnail.i4 div.caption {
	background:url(../img/ico4-nav-list.png) 0 100% no-repeat;
}
.navigation-list .thumbnail.i5 div.caption {
	background:url(../img/ico5-nav-list.png) 50% 100% no-repeat;
}

.navigation-list .thumbnail .inactive {
	opacity:0.5;
	filter:alpha(opacity=50);	
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
#accordion3 {  }
#accordion3 .accordion-group { 
	border:0; 
	margin:0 0 20px 0; 
}
#accordion3 .accordion-heading {  }
#accordion3 .accordion-heading a
{
	font-size:14px;
	line-height:20px;
	padding:0;
	color:#2884be;
	text-decoration:none;
	border:0;
	background:none;	
}
#accordion3 .accordion-heading a span
{
	display:block;
	padding:0 0 0 24px;
	background:url(../img/ico-q.png) 0 5px no-repeat;
}
#accordion3 .accordion-heading a.active
{

}
#accordion3 .accordion-heading a span.active
{
	
}

#accordion3 .accordion-body {  }
#accordion3 .accordion-body .accordion-inner
{
	padding-left:24px;
	border-top:0;
	background:none; 
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
.tabs2 {
	margin:0;
}
.tabs2 .tab-content {
	padding:20px 10px;
	border:1px solid #d6d6d6;
	background: #e2e2e2;
}
.tabs2 .nav {
	margin-bottom:0;
}
.tabs2 .nav-tabs {
	border:0;
}
.tabs2 .nav-tabs > li > a {
  font-size:15px;
  line-height:30px;
  color:#8b8b8b;
  font-weight:bold;
  text-decoration:none;
  background:none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left:20px;
  padding-right:20px;
  border: 0;
  -webkit-border-radius: 0px;
	border-radius: 0px; 
}
.tabs2 .nav-tabs > li > a .caret {
	position:absolute;
	left:50%;
	margin-left:-5px;
	width:0;
	height:0;
	bottom:-1px;
	border-bottom: 10px solid #e2e2e2;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	display:none;
}
.tabs2 .nav-tabs > li > a:hover,
.tabs2 .nav-tabs > li > a:focus {
  color: #4f5266;
  background:none;
  border:0;
}
.tabs2 .nav-tabs > .active > a,
.tabs2 .nav-tabs > .active > a:hover,
.tabs2 .nav-tabs > .active > a:focus {
  color: #4f5266;
  cursor: default;
  background:none;
  border: 0;
  text-shadow: 1px 1px 0 rgba(244, 244, 244, 0.8);
	-webkit-border-radius: 0px;
	border-radius: 0px; 
}
.tabs2 .nav-tabs > .active > a .caret,
.tabs2 .nav-tabs > .active > a:hover .caret,
.tabs2 .nav-tabs > .active > a:focus .caret {
	display:block;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
.tabs3 {
}
.tabs3 .tab-content {
	padding:20px 0 0 0;
	border:0px solid #d6d6d6;
	font-size:12px;
	background: #fff;
}
.tabs3 .nav {
	margin-bottom:0;
}
.tabs3 .nav-tabs {
	border-bottom:1px solid #cccccc;
}
.tabs3 .nav-tabs > li > a {
  font-size:12px;
  line-height:18px;
  color:#666666;
  font-weight:bold;
  text-decoration:none;
  background:none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left:12px;
  padding-right:12px;
  border: 0;
  -webkit-border-radius: 0px;
	border-radius: 0px; 
}
.tabs3 .nav-tabs > li > a .caret {
	position:absolute;
	left:50%;
	margin-left:-5px;
	width:0;
	height:0;
	bottom:-1px;
	border-bottom: 10px solid #e2e2e2;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	display:none;
}
.tabs3 .nav-tabs > li > a:hover,
.tabs3 .nav-tabs > li > a:focus {
  color: #333;
  background:#dddddd;
  border:0;
}
.tabs3 .nav-tabs > .active > a,
.tabs3 .nav-tabs > .active > a:hover,
.tabs3 .nav-tabs > .active > a:focus {
  color: #333;
  cursor: default;
  background:#dddddd;
  border: 0;
  text-shadow: 1px 1px 0 rgba(244, 244, 244, 0.8);
	-webkit-border-radius: 0px;
	border-radius: 0px; 
}
.tabs3 .nav-tabs > .active > a .caret,
.tabs3 .nav-tabs > .active > a:hover .caret,
.tabs3 .nav-tabs > .active > a:focus .caret {
	display:block;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
table.table1 { border:1px solid #d1d1d1; }
table.table1 .title1 { text-align:left; background:#f1f1f1!important; font-weight:normal; font-size:15px; color:#666666; }
table.table1 tr.success td { background:#edfafc!important; border-color: #dddddd!important; }

table.table2 td { font-size:11px; line-height:16px; }
table.table2 thead td { background:#ebfcff!important; font-weight:bold; }
table.table2 tr.bg1 td { background:#f2f2f2; }
table.table2 .title1 { font-style:italic; }
table.table2 i.icon-ok { color:#97be1d; }

table.table3 { font-size:12px; line-height:16px; }
table.table3 .txt1 { color:#000; font-size:11px; }
table.table3 .txt1 strong { font-size:14px; }
table.table3 tr.danger td { background:#e3e3e3; border:0; }
table.table3 tr.no-b td { border:0; }
table.table3 .links1 { font-size:11px; line-height:18px; }
table.table3 .links1 a { color:#6d6d6d; text-decoration:none; }
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
.breadcrumb4 {
	margin:0;
	padding:0;
	border:1px solid #d9d9d9;
	border-bottom:3px solid #3bc0dc;
	background: rgb(254,254,254);
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(242,242,242,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(100%,rgba(242,242,242,1)));
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(242,242,242,1) 100%);
	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(242,242,242,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(242,242,242,1) 100%);
	background: linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(242,242,242,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f2f2f2',GradientType=0 );
	-webkit-border-radius: 0px;
	border-radius: 0px; 
}
.breadcrumb4 li {
	font-size:12px;
	line-height:20px;
	color:#666666;
	padding:12px 16px;
}
.breadcrumb4 > li + li:before {
  content: "";
}
.breadcrumb4 li.active {
	background:#3bc0dc;
	color:#fff;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
.breadcrumb5 {
	margin:0 0 14px 0;
}
.breadcrumb5 div {
	font-size:14px;
	line-height:16px;
	color:#c8c8c8;
	padding:5px 0;
	text-align:center;
	font-weight:bold; 
	-webkit-border-radius: 8px;
	border-radius: 8px; 
}
.breadcrumb5 div span {
	display:block;
	padding:0 26px;
}
.breadcrumb5 div.active {
	background:#33b3d3;
	color:#fff;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */