
<div>{{currentQue.label}}</div>

<div class="clearer h20">&nbsp;</div>


<div ng-repeat="r in currentQue.responses">
<h4 class="style1" ng-show="r.order > 1"><strong><span>or</span></strong></h4>

<div ng-class="{'box-1 style2 last': r.order > 1, 'box-1 style2': r.order == 1}">
    <div class="inner clearfix">
        <div class="icons"><img ng-src="{{r.imageUrl}}"></div>
        <h4>{{r.label}}</h4>
        <div align="center"><input ng-click="answer(r)" ng-model="r.selected" ng-value="{r.selected == true}" type="radio"></div>
    </div>
</div>
</div>