/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 
.btn-align-center { margin:0px auto!important; float:none!important; }
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 
.btn-primary {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	font-family:'Open Sans', Arial, serif; 
	font-weight:400; 
	background:#33b3d3;
	transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
   border:0;
}

.btn-primary.green { background:#8DC63F; }
.btn-primary.orange { background:#e78612; }

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background: #474747;
}




.btn-light {
	color: #464646;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #EBEBEB;
	*background-color: #EBEBEB;
	background-image: -moz-linear-gradient(top, #FFFFFF, #EBEBEB);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#EBEBEB));
	background-image: -webkit-linear-gradient(top, #FFFFFF, #EBEBEB);
	background-image: -o-linear-gradient(top, #FFFFFF, #EBEBEB);
	background-image: linear-gradient(to bottom, #FFFFFF, #EBEBEB);
	background-repeat: repeat-x;
	border-color: #EBEBEB;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EBEBEB', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light.active,
.btn-light.disabled,
.btn-light[disabled] {
	color: #373737;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #E6E6E6;
	*background-color: #E6E6E6;
	background-image: -moz-linear-gradient(top, #F0F0F0, #E6E6E6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F0F0F0), to(#E6E6E6));
	background-image: -webkit-linear-gradient(top, #F0F0F0, #E6E6E6);
	background-image: -o-linear-gradient(top, #F0F0F0, #E6E6E6);
	background-image: linear-gradient(to bottom, #F0F0F0, #E6E6E6);
	background-repeat: repeat-x;
	border-color: #E6E6E6;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#E6E6E6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}



.btn-close {
	color: #474747;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
	font-family:'Open Sans', Arial, serif; 
	font-weight:400; 
	background:#d2d2d2;
	transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
   border:0;
}

.btn-close:hover,
.btn-close:active,
.btn-close.active,
.btn-close.disabled,
.btn-close[disabled] {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background: #474747;
}



.btn-cart {
	color: #474747;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
	font-family:'Open Sans', Arial, serif; 
	font-weight:400; 
	background:#f6c925;
	transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
   border:0;
}

.btn-cart:hover,
.btn-cart:active,
.btn-cart.active,
.btn-cart.disabled,
.btn-cart[disabled] {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background: #474747;
}



.btn-yellow1 {
	padding-top:12px;
	padding-bottom:12px;
	font-size:12px;
	line-height:16px;
	font-family:'Open Sans', Arial, serif; 
	font-weight:700; 
	color: #6B5C13;
	text-shadow: 0px 0px 1px #fdeaa6;
	background-color: #F09E00;
	*background-color: #F09E00;
	background-image: -moz-linear-gradient(top, #FFD800, #F09E00);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFD800), to(#F09E00));
	background-image: -webkit-linear-gradient(top, #FFD800, #F09E00);
	background-image: -o-linear-gradient(top, #FFD800, #F09E00);
	background-image: linear-gradient(to bottom, #FFD800, #F09E00);
	background-repeat: repeat-x;
	border-color: #F09E00;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD800', endColorstr='#F09E00', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-yellow1:hover,
.btn-yellow1:active,
.btn-yellow1.active,
.btn-yellow1.disabled,
.btn-yellow1[disabled] {
	color: #6b5c13;
	background-color: #F09E00;
	*background-color: #003bb3;
}

.btn-yellow1 span {
	font-size:25px;
	line-height:25px;
	text-transform:uppercase;
}



.btn-yellow2 {
	color: #695D13;
	font-family:'Open Sans', Arial, serif; 
	font-weight:700; 
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #FCBB10;
	*background-color: #FCBB10;
	background-image: -moz-linear-gradient(top, #FFDB01, #FCBB10);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFDB01), to(#FCBB10));
	background-image: -webkit-linear-gradient(top, #FFDB01, #FCBB10);
	background-image: -o-linear-gradient(top, #FFDB01, #FCBB10);
	background-image: linear-gradient(to bottom, #FFDB01, #FCBB10);
	background-repeat: repeat-x;
	border-color: #FCBB10;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFDB01', endColorstr='#FCBB10', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-yellow2:hover,
.btn-yellow2:active,
.btn-yellow2.active,
.btn-yellow2.disabled,
.btn-yellow2[disabled] {
	color: #695d13;
	background-color: #FCBB10;
	*background-color: #003bb3;
}



.btn-yellow3 {
	color:#524300;
	font-family:'Open Sans', Arial, serif; 
	font-weight:400; 
	text-shadow: 1px 1px 0px #fdf2bf;
	background:#f8cb00;
    /*border-color: #2d6ca2;*/
	border:0;
}
.btn-yellow3:hover,
.btn-yellow3:active,
.btn-yellow3.active {
	color:#524300;
  	background:#fad635;
  	/*border-color: #2d6ca2;*/
}



.btn-yellow4 {
	padding-top:12px;
	padding-bottom:12px;
	font-size:18px;
	line-height:26px;
	font-family:'Open Sans', Arial, serif; 
	font-weight:700; 
	color: #000;
	text-shadow: 0px 0px 1px #fce4a6;
	background-color: #F09E00;
	*background-color: #F09E00;
	background-image: -moz-linear-gradient(top, #FFD800, #F09E00);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFD800), to(#F09E00));
	background-image: -webkit-linear-gradient(top, #FFD800, #F09E00);
	background-image: -o-linear-gradient(top, #FFD800, #F09E00);
	background-image: linear-gradient(to bottom, #FFD800, #F09E00);
	background-repeat: repeat-x;
	border-color: #F09E00;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD800', endColorstr='#F09E00', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-yellow4:hover,
.btn-yellow4:active,
.btn-yellow4.active,
.btn-yellow4.disabled,
.btn-yellow4[disabled] {
	color: #333;
	background-color: #F09E00;
	*background-color: #003bb3;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 
