body { padding:0; font-size:14px; line-height:1.5em; color:#5A5A5D; font-family:Arial, Helvetica, sans-serif; background:#fff; }

.fontsize10 { font-size:10px; line-height:13px!important; }
.fontsize11 { font-size:11px; line-height:17px; }
.fontsize12 { font-size:12px; }
.fontsize14 { font-size:14px; line-height:20px; }
.fontsize18 { font-size:18px; line-height:22px; }

.uppercase { text-transform:uppercase; }

.color1 { color:#68a204; }

label { font-weight:normal; }


/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 
a { color:#007B85; text-decoration:none; }
a:hover { color:#999; text-decoration:underline; }
a:active, a:focus { outline:none; } 
a i,
.btn { text-decoration:none!important; }
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
}
h1 {
	border-bottom: 5px solid #DDDDDE;
    color: #007B85;
    font-size: 40px;
    margin: 0 0 7px 0;
    padding: 5px 0;
	font-family: Georgia,arial,sans-serif;
    font-weight: normal;
    line-height: 1.2em;
}
.modal-title {  color: #007B85; font-family:Georgia, "Times New Roman", Times, serif; }
h2 {
    color: #5E5E5E;
    font-size: 30px;
    margin: 0 0 7px 0;
    padding:0;
	font-family: Georgia,arial,sans-serif;
    font-weight: normal;
    line-height: 1.2em;
}
h4.style4 {
	padding:10px 14px;
	margin:0 0 14px 0;
	color:#007B85;	
	font-size:18px;
	line-height:26px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
}
h4.style4.bg1 {
	/*background:#33b3d3;*/
	border-bottom:2px solid #ddddde;
}
h4.style4.bg2 {
	color:#fff;
	background:#007b85;
}
h4.style4 i {
	font-size:22px;
	line-height:30px;
}

h5.style4 {
	padding:0;
	margin:0 0 14px 0;
	color:#007B85;	
	font-size:16px;
	line-height:22px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 
.separator { width:100%; height:0px; clear:both; padding:0; margin:0; border: none; line-height: 0px; font-size: 0; overflow: hidden; }
.separator hr { display:none; }
.s1 { height:1px; margin:10px 0 20px 0; background:#e6e6e6; }
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 
.clearer { height:0px; clear:both; padding:0; margin:0; border: none; line-height: 0px; font-size: 0; }
.h10 { height:10px; }
.h20 { height:20px; }
.h30 { height:30px; }
.h40 { height:40px; }
.h50 { height:50px; }
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 
.mb0 { margin-bottom:0!important; }
.mlr0 { margin-left: 0px; margin-right: 0px; }
.pt0 { padding-top:0!important; }
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 



/* CONTAINER */
.wrap-container {
	overflow:hidden;	
}

.container { 
	max-width:none!important;
    width: 940px;
	padding-left:0;
	padding-right:0;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* HEADER */
header {		
}
header .navbar-header .container {		
}
header .container .container-content {
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* HEADER - CONTENT */
header a.navbar-brand { 
	float:left; 
	width:240px; 
	height:74px; 
	text-indent:-999em; 
	text-transform:uppercase; 
	background:url(../img/logo.png) 0 0 no-repeat; 
	overflow:hidden;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */



/* CONTENT */
section.main-content {  	
}
section.main-content .container {
}
section.main-content .container-content {
}

section.main-content.style1 {  
	background:#fff url(../img/main-content-bg1.gif) 0 0 repeat-x;	
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* BOX 1 */
.box-1 {

}
.box-1 .inner {
}
.box-1 h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    margin:0 0 10px 0;
}
.box-1 .logo {
	background:url(../img/drop-shadow-resource-image.png) 50% 100% no-repeat;
	text-align:center;
	min-height:70px;
}
.box-1 .logo span {
	display:block;
	padding-top:12px;
}
.box-1 .price {
	font-size:12px;
}
.box-1 .price strong {
	font-size:16px;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* BOX 2 */
.box-2 {
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* BOX 3 */
.box-3 {
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* BOX 6 */
.box-6 {
	background:#fff;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
}
.box-6-inner {
	padding:14px;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* BOX 8 */
.box-8 {	
	border:1px solid #d6d6d6;
	background: #e2e2e2;
}
.box-8-inner {
	padding:20px 20px;
}
.box-8.style2 {	
	border-bottom:2px solid #3bc0dc;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */


/* FORMS */
.form-control:-moz-placeholder {
  color: #333;
}

.form-control::-moz-placeholder {
  color: #333;
}

.form-control:-ms-input-placeholder {
  color: #333;
}

.form-control::-webkit-input-placeholder {
  color: #333;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  	margin-bottom:10px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #555555;
  font-family:Arial, Helvetica, sans-serif;
  vertical-align: middle;
  background:#fff;
	background: -moz-linear-gradient(top, rgba(220,225,227,0.85) 0%, rgba(255,255,255,0.97) 77%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220,225,227,0.85)), color-stop(77%,rgba(255,255,255,0.97)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(220,225,227,0.85) 0%,rgba(255,255,255,0.97) 77%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(220,225,227,0.85) 0%,rgba(255,255,255,0.97) 77%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(220,225,227,0.85) 0%,rgba(255,255,255,0.97) 77%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(220,225,227,0.85) 0%,rgba(255,255,255,0.97) 77%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9dce1e3', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control:focus {
  border-color: #97a1a8; 
  outline:0;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(166, 174, 179, 0.5);
  box-shadow: 0px 0px 2px 2px rgba(166, 174, 179, 0.5);
}
label {
	font-weight:normal;
}
select.form-control {
	color:#999;
	padding-left:6px;
	padding-right:6px;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 





/* FOOTER */
footer
{ 
}
footer .container-content {	
	padding:100px 0 0 0;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 




/* LISTS */
ul.bullet-1 { padding:0; list-style:none; }
ul.bullet-1 li { padding:0 0 0 12px; background:url(../img/bullet-1.png) 0 6px no-repeat; }
ul.bullet-1 li.last,
ul.bullet-1 li:last-child { margin:0; }
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */ 


/* OTHERS */
.w300 { width:300px; }
.w600 { width:600px; }


.deals-list-item { font-family:Arial, Helvetica, sans-serif; font-size: 12px; }
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */





.gradient-container {
    padding:1px 0 0;
    margin-bottom:40px;
    background: #D6D6D6;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, left top, right top, from(#FFF), color-stop(0.5, #D6D6D6), to(#FFF));
    /* Safari 5.1+, Chrome 10+ */ background: -webkit-linear-gradient(left, #FFF, #D6D6D6, #FFF);
    /* Firefox 3.6+ */ background: -moz-linear-gradient(left, #FFF, #D6D6D6, #FFF);
    /* IE 10 */ background: -ms-linear-gradient(left, #FFF, #D6D6D6, #FFF);
    /* Opera 11.10+ */ background: -o-linear-gradient(left, #FFF, #D6D6D6, #FFF);
}
.gradient-container .gradient-item, .gradient-title {
    padding:10px 0;
    margin-bottom:1px;
    border-top:#fff 1px solid;
    border-bottom:#fff 1px solid;
    background-color:#f0f0f0;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, left top, right top, from(#FFF), color-stop(0.5, #F0F0F0), to(#FFF));
    /* Safari 5.1+, Chrome 10+ */ background: -webkit-linear-gradient(left, #FFF, #F0F0F0, #FFF);
    /* Firefox 3.6+ */ background: -moz-linear-gradient(left, #FFF, #F0F0F0, #FFF);
    /* IE 10 */ background: -ms-linear-gradient(left, #FFF, #F0F0F0, #FFF);
    /* Opera 11.10+ */ background: -o-linear-gradient(left, #FFF, #F0F0F0, #FFF);
}
.gradient-container .gradient-item {
    *clear: left; /* IE7 fix */
}
.gradient-container .gradient-title h2 {
    display:inline;
    margin:0;
}
.gradient-container .gradient-title h2.hideMe {
    display:none;
}





table.table3 { font-size:12px; line-height:16px; }
table.table3 .txt1 { color:#333; font-size:15px; }
table.table3 tr.danger td { background:#e3e3e3; border:0; }
table.table3 tr.no-b td { border:0; }
table.table3 tr td table { width:auto; margin:0; }
table.table3 tr td table tr td { border:0; padding-top:3px; padding-bottom:3px; vertical-align:middle; }



/* ---------------------------------------------------------------------------------------------------------------------------------------------- */
.breadcrumb4 {
	margin:0;
	padding:0;
	border:1px solid #d9d9d9;
	border-bottom:3px solid #f05032;
	background: rgb(254,254,254);
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(242,242,242,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(100%,rgba(242,242,242,1)));
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(242,242,242,1) 100%);
	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(242,242,242,1) 100%);
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(242,242,242,1) 100%);
	background: linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(242,242,242,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f2f2f2',GradientType=0 );
	-webkit-border-radius: 0px;
	border-radius: 0px; 
}
.breadcrumb4 li {
	font-size:12px;
	line-height:20px;
	color:#666666;
	padding:12px 16px;
}
.breadcrumb4 > li + li:before {
  content: "";
}
.breadcrumb4 li.active {
	background:#f05032;
	color:#fff;
}
.breadcrumb4 li.inactive {
	color:#999;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------- */